<br/>

<div class="container">
    <div class="row" ng-repeat="f in upload_files">
        <div class="col-xs-1">
            <img ng-src="{{get_filename_icon(f.name)}}">
        </div>
        <div class="col-xs-2" ng-show="f.has_error">
            {{f.has_error.error}}
        </div>
        <div class="col-xs-2" ng-show="f.has_success">
            {{f.has_success}}
        </div>

        <div class="col-xs-2" ng-show="f.calculating_md5 && !f.has_error">
            <b>{{f.name}}</b>
            <br>
            <span><i class="fa fa-cog faa-spin animated"></i>Calculating MD5 for verified upload...{{f.md5_progress}} %</span>

            <div class="progress thin-progress"
                 uib-tooltip="{{f.md5_progress}} % -{{f.name}} - size: {{f.size}}B - type: {{f.type}} - MD5 Checksum: {{f.md5}}"
                 tooltip-placement="top"
                 tooltip-trigger="mouseenter">
                <div class="progress-bar thin-progress progress-bar-striped"
                     ng-class="{'active' : f.md5_progress < 100, 'progress-bar-success' : f.md5_progress == 100, 'progress-bar-info' : f.md5_progress > 0 && f.md5_progress < 100}"
                     role="progressbar" aria-valuenow="{{f.md5_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{f.md5_progress}}%">
                    <span class="sr-only" ng-hide="f.error">{{f.md5_progress}}% Complete</span>
                    <span class="sr-only" ng-show="f.error">{{f.error.message}}</span>
                </div>
            </div>
        </div>

        <div class="col-xs-2" ng-show="f.uploading && !f.has_error">
            <b>{{f.name}}</b>
            <br>
            <span><i class="fa fa-arrow-up faa-passing animated"></i>Uploading file...{{f.progress}} %</span>
            <div class="progress thin-progress"
                 uib-tooltip="{{f.progress}} % - {{f.name}} - size: {{f.size}}B - type: {{f.type}} - MD5 Checksum: {{f.md5}}"
                 tooltip-placement="top"
                 tooltip-trigger="mouseenter">
                <div class="progress-bar thin-progress progress-bar-striped"
                     ng-class="{'active' : f.progress < 100, 'progress-bar-success' : f.progress == 100 && f.error == null, 'progress-bar-info' : f.progress > 0 && f.progress < 100, 'progress-bar-danger' : f.error != null}"
                     role="progressbar" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{f.progress}}%">
                    <span class="sr-only" ng-hide="f.error">{{f.progress}}% Complete</span>
                    <span class="sr-only" ng-show="f.error">{{f.error.message}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" ng-repeat="f in upload_files_invalid">
    <div class="row">
        Invalid File: {{f.$errorMessages}} {{f.$errorParam}}, {{f.name}} - size: {{f.size}}B - type:
        {{f.type}}
    </div>
</div>