<br/>
<div class="row" ng-repeat="f in upload_files">
    <div class="panel" ng-class="{'panel-success' : f.has_success, 'panel-danger' : f.has_error}">
        <div class="panel-heading">
            <b><img ng-src="{{get_filename_icon(f.name)}}">{{get_short_filename(f.name, 30)}}</b>
        </div>
        <div class="panel-body">
            <div class="col-xs-12 col-md-12" ng-show="f.calculating_md5 && !f.has_error">
                <span><i class="fa fa-cog faa-spin animated"></i>Calculating MD5 for verified upload... {{f.md5_progress}} %</span>

                <div class="progress thin-progress"
                     uib-tooltip="{{f.md5_progress}} % -{{f.name}} - size: {{f.size}}B - type: {{f.type}} - MD5 Checksum: {{f.md5}}"
                     tooltip-placement="top"
                     tooltip-trigger="mouseenter">
                    <div class="progress-bar thin-progress progress-bar-striped"
                         ng-class="{'active' : f.md5_progress < 100, 'progress-bar-success' : f.md5_progress == 100, 'progress-bar-info' : f.md5_progress > 0 && f.md5_progress < 100}"
                         role="progressbar" aria-valuenow="{{f.md5_progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{f.md5_progress}}%">
                        <span class="sr-only" ng-hide="f.error">{{f.md5_progress}}% Complete</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-12" ng-show="f.uploading">
               <div class="progress thin-progress"
                     uib-tooltip="{{f.progress}} % - {{f.name}} - size: {{f.size}}B - type: {{f.type}} - MD5 Checksum: {{f.md5}}"
                     tooltip-placement="top"
                     tooltip-trigger="mouseenter">
                    <div class="progress-bar thin-progress progress-bar-striped"
                         ng-class="{'active' : f.progress < 100, 'progress-bar-success' : f.progress === 100 && f.error == null, 'progress-bar-info' : f.progress > 0 && f.progress < 100, 'progress-bar-danger' : f.error != null}"
                         role="progressbar" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{f.progress}}%">
                        <span class="sr-only" ng-hide="f.error">{{f.progress}}% Complete</span>
                        <span class="sr-only" ng-show="f.error"><i class="fa fa-exclamation-triangle warning"></i>{{f.has_error.message}}</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-12" ng-show="f.md5_progress === 100">
                <small><span><i class="fa fa-check-circle-o success"></i>&nbsp;Checksum calculated</span></small>
            </div>

            <div class="col-xs-12 col-md-12" ng-show="!f.sent_to_server && f.uploading">
                <small><span><i class="fa fa-cog faa-spin animated"></i>&nbsp;Uploading file...{{f.progress}} %</span></small>
            </div>

            <div class="col-xs-12 col-md-12" ng-show="f.sent_to_server">
                <small><span><i class="fa fa-check-circle-o success"></i>&nbsp;We have received the file.</span></small>
            </div>

            <div class="col-xs-10 col-md-12" ng-show="f.sent_to_server && (f.has_error || f.has_success)">
                <small><span ng-show="f.sent_to_server"><i class="fa fa-check-circle-o success"></i>&nbsp;File processed on server</span></small>
            </div>

            <div class="col-xs-10 col-md-12" ng-show="f.sent_to_server && !f.has_error && !f.has_success">
                <small><span ng-show="f.sent_to_server"><i class="fa fa-cog faa-spin animated"></i>&nbsp;Processing file. Please wait...</span></small>
            </div>

            <div class="col-xs-10 col-md-12" ng-show="f.has_error">
                <small><span><i class="fa fa-exclamation-triangle warning"></i>&nbsp;{{f.has_error.error}}</span></small>
            </div>
            <div class="col-xs-10 col-md-12" ng-show="f.has_success">
                <small><span><i class="fa fa-check-circle-o success"></i>&nbsp;{{f.has_success}}</span></small>
            </div>
        </div>
    </div>
</div>
