<ul style="clear:both" class="response">
    <li class="sel-file" ng-repeat="f in files">
        <div>
            <div class="row">
                <!--<div class="col-xs-2">
                    <img ngf-thumbnail="!f.$error && f" class="thumb">
                </div>-->
                <div class="col-xs-12">
                    <div class="progress" ng-show="f.progress >= 0">
                        <div class="progress-bar thin-progress progress-bar-striped"
                             ng-class="{'active' : f.progress < 100, 'progress-bar-success' : f.progress == 100, 'progress-bar-info' : f.progress > 0 && f.progress < 100}"
                             role="progressbar" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{f.progress}}%">
                            <span class="sr-only">{{f.progress}}% Complete</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-sm btn-warning" ng-click="f.upload.abort();f.upload.aborted=true"
                            ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">
                        <i class="fa fa-stop"></i><span ng-show="isResumeSupported">/<i class="fa fa-pause"></i></span>  Pause
                    </button>
                    <button class="btn btn-sm btn-primary" ng-click="upload(f, true);f.upload.aborted=false"
                            ng-show="isResumeSupported && f.upload != null && f.upload.aborted"><i class="fa fa-play"></i>  Resume
                    </button>
                    <button class="btn btn-sm btn-primary" ng-click="restart(f);f.upload.aborted=false"
                            ng-show="isResumeSupported && f.upload != null && (f.progress == 100 || f.upload.aborted)"><i class="fa fa-repeat"></i> Repeat
                    </button>
                    <b>{{f.name}}</b> - size: {{f.size}}B - type: {{f.type}}
                </div>
            </div>
            <br/>
            <!--<div class="row">
                <div class="col-xs-12">
                    <a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail"><i class="fa fa-info"></i></a>
                    <div ng-show="f.showDetail">
                        <br/>

                        <div data-ng-show="f.result.result == null">{{f.result}}</div>
                        <ul>
                            <li ng-repeat="item in f.result.result">
                                <div data-ng-show="item.name">file name: {{item.name}}</div>
                                <div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
                                <div data-ng-show="item.size">size on the serve: {{item.size}}</div>
                                <div data-ng-show="item.value">value: {{item.value}}</div>
                            </li>
                        </ul>
                        <div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
                    </div>
                </div>
            </div> -->
        </div>
    </li>
    <li class="sel-file" ng-repeat="f in invalidFiles">
        <div>Invalid File: {{f.$errorMessages}} {{f.$errorParam}}, {{f.name}} - size: {{f.size}}B - type:
            {{f.type}}
        </div>
    </li>
</ul>