<h1 class="page-header">Connect to B2Share</h1>
<div class="control-group has-feedback" ng-class="{'has-success' : new_repository.dcterms.title}">
    <label for="new_b2share_repository_title">Label</label>
    <input type="text" ng-model="new_repository.dcterms.title" class="form-control" id="new_b2share_repository_title" placeholder="Title" required>
    <p class="help-block">This will be used to label these credentials and address as one of your favorite repositories</p>
    <span ng-show="new_repository.dcterms.title" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!new_repository.dcterms.title" class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>

<div class="control-group has-feedback" ng-init="new_repository.ddr.hasExternalUri = 'trng-b2share.eudat.eu'" ng-class="{'has-success' : new_repository.ddr.hasExternalUri == 'trng-b2share.eudat.eu', 'has-warning' : new_repository.ddr.hasExternalUri == 'b2share.eudat.eu'}">
    <label for="new_b2share_repository_url">External repository address</label>
    <select type="text" ng-model="new_repository.ddr.hasExternalUri" class="form-control" id="new_b2share_repository_url" required >
        <option value="trng-b2share.eudat.eu" SELECTED>trng-b2share.eudat.eu</option>
        <option value="b2share.eudat.eu">b2share.eudat.eu</option>
    </select>
    <p ng-show="new_repository.ddr.hasExternalUri == 'trng-b2share.eudat.eu'" class="help-block">The EUDAT Test deposit server. Use this to test your deposit prior to publishing. It will be deleted after a while, so do not use this for permanent data deposit.</p>
    <p ng-show="new_repository.ddr.hasExternalUri == 'b2share.eudat.eu'" class="help-block">The EUDAT long-term deposit server. Use this to publish your data for the long term. We advise you to test your deposit in the training server to make sure everything is correct before making the final deposit here. You cannot change the EUDAT record after you send it to this server!</p>
    <span ng-show="new_repository.ddr.hasExternalUri == 'b2share.eudat.eu'" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    <span ng-show="new_repository.ddr.hasExternalUri == 'trng-b2share.eudat.eu'" class="glyphicon glyphicon-ok form-control-feedback"></span>
</div>

<div class="control-group has-feedback" ng-class="{'has-success' : new_repository.ddr.hasAccessToken}">
    <label for="b2share_access_token">Access Token</label>
    <input type="text" ng-model="new_repository.ddr.hasAccessToken" class="form-control" id="b2share_access_token" placeholder="B2Share access token" ng-required="ownAccessToken == true">
    <p class="help-block">Your B2Share token</p>
    <span ng-show="new_repository.ddr.hasAccessToken" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!new_repository.ddr.hasAccessToken" class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>


<div class="control-group has-feedback">
    <input type="checkbox" id="privacyStatus" ng-class="new_repository.ddr.privacyStatus" ng-model="new_repository.ddr.privacyStatus">
    <label for="privacyStatus">I want to make this registry public</label>
</div>

<button type="cancel" ng-click="clear_repository_type()" class="btn">Cancel</button>
<button type="submit" ng-click="create_new_repository_bookmark(new_repository)" class="btn btn-primary pull-right"><i class="fa fa-bookmark fa-lg"></i>Save new bookmark</button>