<h1 class="page-header">Connect to a CKAN repository</h1>
<div class="control-group has-feedback" ng-class="{'has-success' : new_repository.dcterms.title}">
    <label for="new_ckan_repository_title">Label</label>
    <input type="text" ng-model="new_repository.dcterms.title" class="form-control" id="new_ckan_repository_title" placeholder="Title" required>
    <p class="help-block">This will be used to label these credentials and address as one of your favorite repositories</p>
    <span ng-show="new_repository.dcterms.title" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!new_repository.dcterms.title" class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>

<div class="control-group has-feedback" ng-class="{'has-success' : new_repository.ddr.hasExternalUri && valid_base_address(new_repository.ddr.hasExternalUri), 'has-warning' : new_repository.ddr.hasExternalUri && !valid_base_address(new_repository.ddr.hasExternalUri)}">
    <label for="new_ckan_repository_url">External repository address</label>
    <input type="text" ng-model="new_repository.ddr.hasExternalUri" class="form-control" id="new_ckan_repository_url" placeholder="External repository address" required>
    <p class="help-block">The base address of the repository you wish to upload to. Example: <a href="https://demo.ckan.org">https://demo.ckan.org</a> No forwards slashes at the end (/) are allowed.</p>
    <span ng-show="new_repository.ddr.hasExternalUri && valid_base_address(new_repository.ddr.hasExternalUri)" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!new_repository.ddr.hasExternalUri" class="glyphicon glyphicon-remove form-control-feedback"></span>
    <span ng-show="new_repository.ddr.hasExternalUri && !valid_base_address(new_repository.ddr.hasExternalUri)" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
</div>


<div ng-show="valid_base_address(new_repository.ddr.hasExternalUri)" class="control-group has-feedback" ng-class="{'has-success' : new_repository.ddr.username}">
    <label for="ckan_username">Username</label>
    <input type="text" ng-model="new_repository.ddr.username" class="form-control" id="ckan_username" placeholder="CKAN username" required>
    <p class="help-block">The username you use in the target CKAN repository. For example, if your profile page is <a ng-href="{{new_repository.ddr.hasExternalUri + '/user/demouser' | trustAsResourceUrl}}">{{new_repository.ddr.hasExternalUri + '/user/demouser'}}</a>, your username will be <b>demouser</b>.</p>
    <span ng-show="new_repository.ddr.username" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!new_repository.ddr.username" class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>

<div ng-show="valid_base_address(new_repository.ddr.hasExternalUri)" class="control-group has-feedback" ng-class="{'has-success' : valid_organization(new_repository.ddr.hasOrganization), 'has-warning' : new_repository.ddr.hasOrganization && !valid_organization(new_repository.ddr.hasOrganization)}">
    <label for="ckan_organization">Organization</label>
    <input type="text" ng-model="new_repository.ddr.hasOrganization" class="form-control" id="ckan_organization" placeholder="CKAN organization" required>
    <p class="help-block">Your Organization in the target CKAN repository (example: For the repository http://dendro-prd.fe.up.pt:5000/organization/<b>infolab-devs</b>, it is <b>infolab-devs</b>) .</p>
    <span ng-show="valid_organization(new_repository.ddr.hasOrganization)" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!valid_organization(new_repository.ddr.hasOrganization)" class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>

<div ng-show="valid_base_address(new_repository.ddr.hasExternalUri)" class="control-group has-feedback" ng-class="{'has-success' : valid_api_key(new_repository.ddr.hasAPIKey), 'has-warning' : new_repository.ddr.hasAPIKey && !valid_api_key(new_repository.ddr.hasAPIKey)}">
    <label for="ckan_organization">API Key</label>
    <input type="text" ng-model="new_repository.ddr.hasAPIKey" class="form-control" id="ckan_api_key" placeholder="CKAN API Key" required>
    <p class="help-block">Your API Key in the target CKAN repository. <span class="badge"><i class="fa fa-lightbulb-o"></i>See the tutorial below for tips on how to retrieve it.</span></p>
    <span ng-show="valid_api_key(new_repository.ddr.hasAPIKey)" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!valid_api_key(new_repository.ddr.hasAPIKey)" class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>


<div class="control-group has-feedback">
    <input type="checkbox" id="privacyStatus" ng-class="new_repository.ddr.privacyStatus" ng-model="new_repository.ddr.privacyStatus">
    <label for="privacyStatus">I want to make this registry public</label>
</div>

<button type="cancel"
        ng-click="clear_repository_type()"
        class="btn">
    Cancel
</button>
<button type="submit"
        ng-click="create_new_repository_bookmark(new_repository)"
        ng-disabled="disable_save_bookmark_ckan(new_repository)"
        class="btn btn-primary pull-right">
    <i class="fa fa-bookmark fa-lg pad-right-4"></i>Save new bookmark
</button>

<div ng-show="valid_base_address(new_repository.ddr.hasExternalUri)">
    <br>
    <br>
    <br>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title"><h1>Tutorial</h1>How to get your CKAN API Key?</h3>
        </div>
        <div class="panel-body">
            <h3 id="ckan_api_key_tutorial">1. Login to your CKAN instance (<a href="{{recalled_repository.ddr.hasExternalUri}}">{{recalled_repository.ddr.hasExternalUri}}</a>) and access your Settings (small cogwheel icon at the right top of the page)</h3>
            <img src="/images/ckan_get_api_key_tutorial/ckan1.png">
            <h3>2. Press the "Regenerate API Key" Button at the bottom of the page</h3>
            <small>
                <span class="badge badge-warning">Warning</span>Note that if you use this CKAN instance in other services you may have to update the API Key there as well after regenerating it.
            </small>
            <img src="/images/ckan_get_api_key_tutorial/ckan2.png">
            <h3>3. Confirm the operation</h3>
            <img src="/images/ckan_get_api_key_tutorial/ckan3.png">
            <h3>4. You should see a success message at the top of the page</h3>
            <img src="/images/ckan_get_api_key_tutorial/ckan4.png">
            <h3>5. Access your profile at the top of the page</h3>
            <img src="/images/ckan_get_api_key_tutorial/ckan5.png">
            <h3>6. Your new API key is at the bottom left. Copy it and paste it in the <a href="#recalled_ckan_repository_api_key">box above</a>.</h3>
            <img src="/images/ckan_get_api_key_tutorial/ckan6.png">
        </div>
    </div>
    <a href="#ckan_api_key">Go back up</a>
</div>