<h1 class="page-header">Connect to a EPrints repository</h1>
<div class="control-group has-feedback" ng-class="{'has-success' : new_repository.dcterms.title}">
    <label for="new_eprints_repository_title">Label</label>
    <input type="text" ng-model="new_repository.dcterms.title" class="form-control" id="new_eprints_repository_title" placeholder="Title" required>
    <p class="help-block">This will be used to label these credentials and address as one of your favorite repositories</p>
    <span ng-show="new_repository.dcterms.title" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!new_repository.dcterms.title" class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>

<div class="control-group has-feedback" ng-class="{'has-success' : new_repository.ddr.hasExternalUri && valid_url(new_repository.ddr.hasExternalUri), 'has-warning' : new_repository.ddr.hasExternalUri && !valid_url(new_repository.ddr.hasExternalUri)}">
    <label for="new_eprints_repository_url">External repository address</label>
    <input type="text" ng-model="new_repository.ddr.hasExternalUri" class="form-control" id="new_eprints_repository_url" placeholder="Title" required>
    <p class="help-block">The base address of the repository you wish to upload to. Example: <a href="http://demoprints.eprints.org">http://demoprints.eprints.org</a> .</p>
    <span ng-show="new_repository.ddr.hasExternalUri && valid_url(new_repository.ddr.hasExternalUri)" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!new_repository.ddr.hasExternalUri" class="glyphicon glyphicon-remove form-control-feedback"></span>
    <span ng-show="new_repository.ddr.hasExternalUri && !valid_url(new_repository.ddr.hasExternalUri)" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
</div>

<div class="control-group has-feedback" ng-class="{'has-success' : new_repository.ddr.username}">
    <label for="eprints_username">Username</label>
    <input type="text" ng-model="new_repository.ddr.username" class="form-control" id="eprints_username" placeholder="EPrints username" required>
    <p class="help-block">The username you use in the target EPrints repository.</p>
    <span ng-show="new_repository.ddr.username" class="glyphicon glyphicon-ok form-control-feedback"></span>
    <span ng-show="!new_repository.ddr.username" class="glyphicon glyphicon-remove form-control-feedback"></span>
</div>


<div class="control-group has-feedback">
    <input type="checkbox" id="privacyStatus" ng-class="new_repository.ddr.privacyStatus" ng-model="new_repository.ddr.privacyStatus">
    <label for="privacyStatus">I want to make this registry public</label>
</div>

<button type="cancel" ng-click="clear_repository_type()" class="btn">Cancel</button>
<button type="submit" ng-click="create_new_repository_bookmark(new_repository)" class="btn btn-primary pull-right"><i class="fa fa-bookmark fa-lg"></i>Save new bookmark</button>