<h1 class="page-header">Connect to a Zenodo repository</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#new_repository_zenodo_informations" role="tab" data-toggle="tab">Zenodo Information</a></li>
    <li><a href="#new_repository_zenodo_tutorial" role="tab" data-toggle="tab">Tutorial</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="new_repository_zenodo_informations">

        <div class="control-group has-feedback" ng-class="{'has-success' : new_repository.dcterms.title}">
            <label for="new_zenodo_repository_title">Label</label>
            <input type="text" ng-model="new_repository.dcterms.title" class="form-control" id="new_zenodo_repository_title" placeholder="Title" required>
            <p class="help-block">This will be used to label these credentials and address as one of your favorite repositories</p>
            <span ng-show="new_repository.dcterms.title" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-show="!new_repository.dcterms.title" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>

        <div class="control-group has-feedback" ng-init="new_repository.ddr.hasExternalUrl = new_repository_type.foaf.homepage" ng-class="{'has-success' : new_repository.ddr.hasExternalUrl && valid_url(new_repository.ddr.hasExternalUrl), 'has-warning' : new_repository.ddr.hasExternalUrl && !valid_url(new_repository.ddr.hasExternalUrl)}">
            <label for="new_zenodo_repository_url">External repository address</label>
            <input type="text" ng-model="new_repository.ddr.hasExternalUrl"  value="" class="form-control" id="new_zenodo_repository_url" placeholder="External Repository Address"  required disabled >
            <p class="help-block">The base address of the repository you wish to upload to.</p>
            <span ng-show="new_repository.ddr.hasExternalUrl && valid_url(new_repository.ddr.hasExternalUrl)" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-show="!new_repository.ddr.hasExternalUrl" class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-show="new_repository.ddr.hasExternalUrl && !valid_url(new_repository.ddr.hasExternalUrl)" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
        </div>

        <div class="control-group has-feedback" ng-class="{'has-success' : new_repository.ddr.hasAccessToken}">
            <label for="zenodo_access_token">Access Token</label>
            <input type="text" ng-model="new_repository.ddr.hasAccessToken" class="form-control" id="zenodo_access_token" placeholder="Zenodo access token" required>
            <p class="help-block">The access token of an application in Zenodo repository. </p>
            <span ng-show="new_repository.ddr.hasAccessToken" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-show="!new_repository.ddr.hasAccessToken" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>


        <div class="control-group has-feedback">
            <input type="checkbox" id="privacyStatus" ng-class="new_repository.ddr.privacyStatus" ng-model="new_repository.ddr.privacyStatus">
            <label for="privacyStatus">I want to make this registry public</label>
        </div>

        <button type="cancel" ng-click="clear_repository_type()" class="btn">Cancel</button>
        <button type="submit" ng-click="create_new_repository_bookmark(new_repository)" class="btn btn-primary pull-right"><i class="fa fa-bookmark fa-lg"></i>Save new bookmark</button>
    </div>
    <div class="tab-pane" id="new_repository_zenodo_tutorial">
        <div id="carousel-tutorial" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-tutorial" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-tutorial" data-slide-to="1"></li>
                <li data-target="#carousel-tutorial" data-slide-to="2"></li>
                <li data-target="#carousel-tutorial" data-slide-to="3"></li>
                <li data-target="#carousel-tutorial" data-slide-to="4"></li>
                <li data-target="#carousel-tutorial" data-slide-to="5"></li>
                <li data-target="#carousel-tutorial" data-slide-to="6"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="First slide" ng-src="{{getBaseURL()}}/images/share_tutorial/zenodo/1.jpg">
                    <div class="carousel-caption">
                        <h3>Login with a Zenodo account</h3>
                    </div>
                </div>
                <div class="item">
                    <img alt="Second slide" ng-src="{{getBaseURL()}}/images/share_tutorial/zenodo/2.jpg">
                    <div class="carousel-caption">
                        <h3>Access Applications Area</h3>
                    </div>
                </div>
                <div class="item">
                    <img alt="Third slide" ng-src="{{getBaseURL()}}/images/share_tutorial/zenodo/3.jpg">
                    <div class="carousel-caption">
                        <h3>Create a new token</h3>
                    </div>
                </div>
                <div class="item">
                    <img alt="Fourth slide" ng-src="{{getBaseURL()}}/images/share_tutorial/zenodo/4.jpg">
                    <div class="carousel-caption">
                        <h3>Fill name, allow access to write and access to actions and click create</h3>
                    </div>
                </div>
                <div class="item">
                    <img alt="Fifth slide" ng-src="{{getBaseURL()}}/images/share_tutorial/zenodo/5.jpg">
                    <div class="carousel-caption">
                        <h3>Copy your access token and save</h3>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-tutorial" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-tutorial" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>



