<h1 class="page-header">Connect to a Zenodo repository</h1>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#new_repository_zenodo_informations" role="tab" data-toggle="tab">Zenodo Information</a></li>
    <li><a href="#new_repository_zenodo_tutorial" role="tab" data-toggle="tab">Tutorial</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="new_repository_zenodo_informations">

        <div class="control-group has-feedback" ng-class="{'has-success' : new_repository.dcterms.title}">
            <label for="new_zenodo_repository_title">Label</label>
            <input type="text" ng-model="new_repository.dcterms.title" class="form-control" id="new_zenodo_repository_title" placeholder="Title" required>
            <p class="help-block">This will be used to label these credentials and address as one of your favorite repositories</p>
            <span ng-show="new_repository.dcterms.title" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-show="!new_repository.dcterms.title" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>

        <div class="control-group has-feedback" ng-init="new_repository.ddr.hasExternalUrl = 'sandbox.zenodo.org'" ng-class="{'has-success' : new_repository.ddr.hasExternalUrl == 'sandbox.zenodo.org', 'has-warning' : new_repository.ddr.hasExternalUrl == 'zenodo.org'}">
            <label for="new_zenodo_repository_url">External repository address</label>
            <select type="text" ng-model="new_repository.ddr.hasExternalUrl" class="form-control" id="new_zenodo_repository_url" required >
                <option value="sandbox.zenodo.org" SELECTED>sandbox.zenodo.org</option>
                <option value="zenodo.org">zenodo.org</option>
            </select>
            <p ng-show="new_repository.ddr.hasExternalUrl == 'sandbox.zenodo.org'" class="help-block">The ZENODO Test deposit server. Use this to test your deposit prior to publishing. It will be deleted after a while, so do not use this for permanent data deposit.</p>
            <p ng-show="new_repository.ddr.hasExternalUrl == 'zenodo.org'" class="help-block">The ZENODO long-term deposit server. Use this to publish your data for the long term. We advise you to test your deposit in the training server to make sure everything is correct before making the final deposit here. You cannot change the ZENODO record after you send it to this server!</p>
            <span ng-show="new_repository.ddr.hasExternalUrl == 'sandbox.zenodo.org'" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
            <span ng-show="new_repository.ddr.hasExternalUrl == 'zenodo.org'" class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>

        <div class="control-group has-feedback" ng-class="{'has-success' : new_repository.ddr.hasAccessToken}">
            <label for="zenodo_access_token">Access Token</label>
            <input type="text" ng-model="new_repository.ddr.hasAccessToken" class="form-control" id="zenodo_access_token" placeholder="Zenodo access token" required>
            <p class="help-block">The access token of an application in Zenodo repository. </p>
            <span ng-show="new_repository.ddr.hasAccessToken" class="glyphicon glyphicon-ok form-control-feedback"></span>
            <span ng-show="!new_repository.ddr.hasAccessToken" class="glyphicon glyphicon-remove form-control-feedback"></span>
        </div>


        <div class="control-group has-feedback">
            <input type="checkbox" id="privacyStatus" ng-class="new_repository.ddr.privacyStatus" ng-model="new_repository.ddr.privacyStatus">
            <label for="privacyStatus">Advertise my deposits in the homepage</label>
            <div class="help-block">
                By default, a record will be added to the homepage of this website for every deposit you make in this repository, increasing visibility of those deposits. You can change this setting later when you perform each deposit.
            </div>
        </div>

        <button type="cancel" ng-click="clear_repository_type()" class="btn">Cancel</button>
        <button type="submit"
                ng-click="create_new_repository_bookmark(new_repository)"
                ng-disabled="disable_save_bookmark_zenodo(new_repository)"
                class="btn btn-primary pull-right"><i class="fa fa-bookmark fa-lg pad-right-4"></i>Save new bookmark</button>
    </div>
    <div class="tab-pane" id="new_repository_zenodo_tutorial">
        <div id="carousel-tutorial" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-tutorial" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-tutorial" data-slide-to="1"></li>
                <li data-target="#carousel-tutorial" data-slide-to="2"></li>
                <li data-target="#carousel-tutorial" data-slide-to="3"></li>
                <li data-target="#carousel-tutorial" data-slide-to="4"></li>
                <li data-target="#carousel-tutorial" data-slide-to="5"></li>
                <li data-target="#carousel-tutorial" data-slide-to="6"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="First slide" ng-src="{{getBaseURL()}}/images/share_tutorial/zenodo/1.jpg">
                    <div class="carousel-caption">
                        <h3>Login with a Zenodo account</h3>
                    </div>
                </div>
                <div class="item">
                    <img alt="Second slide" ng-src="{{getBaseURL()}}/images/share_tutorial/zenodo/2.jpg">
                    <div class="carousel-caption">
                        <h3>Access Applications Area</h3>
                    </div>
                </div>
                <div class="item">
                    <img alt="Third slide" ng-src="{{getBaseURL()}}/images/share_tutorial/zenodo/3.jpg">
                    <div class="carousel-caption">
                        <h3>Create a new token</h3>
                    </div>
                </div>
                <div class="item">
                    <img alt="Fourth slide" ng-src="{{getBaseURL()}}/images/share_tutorial/zenodo/4.jpg">
                    <div class="carousel-caption">
                        <h3>Fill name, allow access to write and access to actions and click create</h3>
                    </div>
                </div>
                <div class="item">
                    <img alt="Fifth slide" ng-src="{{getBaseURL()}}/images/share_tutorial/zenodo/5.jpg">
                    <div class="carousel-caption">
                        <h3>Copy your access token and save</h3>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-tutorial" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-tutorial" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>
    </div>
</div>



