<table style="width:100%">
    <tr class="form-group sidebar-item" ng-repeat="item in $eval(attr()) track by $index">
        <td>
            <b>{{item.label}}</b>
        </td>

        <td ng-if="item.type === 'dropdown'">
            <button style="text-align: right" type="button" class="button-search  btn btn-default dropdown-toggle "
                    data-toggle="dropdown">
                {{item.selected}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="iterator in item.value track by $index"><a href="#"
                                                                          ng-click="item.selected = iterator.name; $eval(update(item.change))">{{iterator.name}}</a>
                </li>
            </ul>
        </td>

        <td ng-if="item.list && item.type !== 'dropdown'" class="{{item.type}}"
            ng-repeat="iterator in item.value track by $index">
            <label class="label-search" ng-if="item.type !== 'dropdown'">
                <input ng-model="iterator.value" ng-change="$eval(update(item.change))"
                       ng-model-options="{debounce : 500}" type="{{item.type}}">
                {{iterator.name}}
                <b ng-if="iterator.count">({{iterator.count}})</b>
            </label>
        </td>
        <td>
            <input class="margin-bottom-4" style="width: 174px" ng-if="!item.list && item.hidden!== true"
                   ng-model="item.value" ng-change="$eval(update(item.change))" ng-model-options="{debounce : 500}"
                   type="{{item.type}}">
            <input class="margin-bottom-4" style="width: 174px" disabled="disabled"
                   ng-if="!item.list && item.hidden== true" ng-model="item.value" ng-change="$eval(update(item.change))"
                   ng-model-options="{debounce : 500}" type="{{item.type}}">

        </td>
    </tr>
    <!--<%- include ../../../../src/views/projects/show/descriptor_autocomplete.ejs %>-->
    <!--public/app/views/search-->

    <tr class="form-group sidebar-item">
        <td>
            <b>Deposits per page</b>
        </td>
        <td>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{search_settings.page}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="search_settings.page = 5; $eval(update())">5</a></li>
                <li><a href="#" ng-click="search_settings.page = 10; $eval(update())">10</a></li>
                <li><a href="#" ng-click="search_settings.page = 20; $eval(update())">20</a></li>
                <li><a href="#" ng-click="search_settings.page = 50; $eval(update())">50</a></li>
            </ul>
        </td>
    </tr>
</table>