        <div id="push"></div>

        <div class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid">
                <span class="navbar-text">
                    &copy; <a href="http://dendro.fe.up.pt">FEUP InfoLab</a>. <small class="version_description"><%= locals.Config.version.name %>. v.<%= locals.Config.version.number %></small>
                </span>
            </div>
        </div>

    </div>  <!--close wrap div -->

        <br/>
        <br/>
        <br/>
  </body>
</html>
