<div class="row">
    <div class="controls col-xs-12">
        <div class="input-group">
            <p class="lead spacer input-group"
               ng-class="{just_added: descriptor.just_added, just_deleted: descriptor.just_deleted, just_inherited : descriptor.just_inherited, just_recommended : descriptor.just_recommended }">
                {{descriptor.label}}
                <span ng-show="descriptor.just_added"
                      class="label label-success">
                    Add
                </span>
                <span ng-show="descriptor.just_deleted"
                      class="label label-danger">
                    Remove
                </span>
                <span ng-show="descriptor.just_inherited"
                      class="label label-primary">
                    Copied from parent
                </span>
                <span ng-show="descriptor.just_recommended"
                      class="label label-warning">
                    Recommended
                </span>
            </p>
        </div>

    </div>
</div>
<div class="row">
    <div class="controls col-xs-12">
        <div class="input-group col-lg-11">
            <div class="control-value-read-only" ng-bind-html="descriptor.value | markdown">
            </div>
        </div>
    </div>


</div>
