.explorer {
  min-width: 10%;
  float: top left;
  vertical-align: top;
  font-size: 10px;
}
.metadata-panel {
  vertical-align: top;
  min-width: 80%;
}
.suggestions-panel {
  width: 20%;
  text-align: center;
  vertical-align: top;
  position: relative;
}
.explorer-table {
  -ms-word-break: break-all;
  word-break: break-all;
/* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
.explorer-table h4 {
  text-align: left;
}
.explorer-table td {
  padding-left: 3px;
  padding-right: 3px;
}
.spacer {
  margin-top: 10px; /* define margin as you see fit */
}
.navbar-spacer {
  margin-top: 20px; /* define margin as you see fit */
}
.changelog-table {
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
}
.table-centertext {
  text-align: center;
  vertical-align: middle;
}
.just_added {
  color: #428bca;
  font-weight: bold;
}
.just_deleted {
  color: #cd5c5c;
  text-decoration-style: line-through;
  font-weight: bold;
}
.just_inherited {
  color: #428bca;
  font-weight: bold;
}
.label.just_added {
  color: #428bca;
}
.just_recommended {
  color: #ffa928;
  font-weight: bold;
}
.favorite {
  color: #28b62c;
  font-weight: bold;
}
#metadataform .form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #fff;
  opacity: 1;
}
.full-width {
  width: 100%;
}
.manual_recommendation_btn {
  white-space: normal;
  text-align: left;
}
.scrollable_recommendations {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.button_of_present_descriptor {
  text-decoration: line-through;
  opacity: 0.5;
}
.descriptor-comment {
  font-size: 12px;
  font-style: italic;
}
.version_description {
  font-size: 9px;
  font-style: italic;
}
.favorite_recommended_label {
  background-color: #9e76ab;
}
.favorite_recommended_label:hover {
  background-color: #e7a9ee;
}
favorite_recommended {
  background-color: #9e76ab;
}
/*
Animations (uncomment to have animations)
*/
/*.ng-enter

  -webkit-transition: 1s;
  transition: 1s;
  opacity:0;

.ng-enter-active
  opacity:1;


.ng-leave
  -webkit-transition: 1s;
  transition: 0.5s;

.ng-leave-active
  opacity:0;

.ng-show
  opacity:1;
  -webkit-transition: 1s;
  transition: 0.5s;

.ng-hide
  opacity:0;
  -webkit-transition: 1s;
  transition: 0.5s;*/
/* Flexible iFrame */
.Flexible-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.badge-text {
  margin-top: -0.8em;
  margin-left: 1em;
  color: #fff;
}
.badge-circle {
  margin-top: -0.4em;
  margin-left: 0.5em;
  color: #f00;
}
#wrap {
  padding-bottom: 120px;
}
.autohide-footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 120px;
  width: 100%;
}
.file_explorer_icon {
  text-shadow: 1px 1px 1px #ccc;
}
.social-dendro-btn {
  font-size: 10px;
}
.parent_stacked_image {
  position: relative;
  top: 0;
  left: 0;
}
.image1_stacked {
  position: relative;
  top: 0px;
  left: 0px;
}
.image2_stacked {
  position: absolute;
  top: 0px;
  left: 0px;
}
.icon16 {
  width: 16px;
  height: 16px;
}
.image1_stacked_file_browser {
  width: 32px;
  height: 32px;
}
.image2_stacked_file_browser {
  position: absolute;
  top: -20px;
  left: 12px;
}
.cropArea {
  background: #e4e4e4;
  overflow: hidden;
  width: 500px;
  height: 350px;
}
.show-avatar-in-profile {
  width: 5%;
  height: 5%;
}
.show-avatar-in-header {
  width: 28px;
  height: 28px;
  position: relative;
  top: -5px;
  float: left;
  left: -5px;
}
.show-avatar-in-create-post {
  width: 50%;
  height: 50%;
}
.show-author-avatar-partial {
  width: 50%;
  height: 50%;
}
.show-avatar-in-project-list {
  width: 28px;
  height: 28px;
}
.breadcrumb_icon {
  width: 16px;
  height: 16px;
}
.breadcrumb {
  background: #f5f5f5;
  border: 0px solid #f5f5f5;
  border-radius: 4px;
  display: block;
}
.breadcrumb li {
  font-size: 14px;
}
.breadcrumb a {
  color: #428bca;
}
.breadcrumb a:hover {
  color: #2a6496;
}
.breadcrumb>.active {
  color: #999;
}
.breadcrumb>li+li:before {
  color: #ccc;
  content: "\276D\00a0";
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
