timeline-badge.ckan {
  background-color: #e76b00 !important;
}
timeline-badge.create {
  background-color: #d9534f !important;
}
timeline-badge.figshare {
  background-color: #a3cd3d !important;
}
timeline-badge.dspace {
  background-color: #92c745 !important;
}
timeline-badge.eprints {
  background-color: #ff771e !important;
}
timeline-badge.zenodo {
  background-color: #28b4f9 !important;
}
timeline-badge.b2share {
  background-color: #1c418f !important;
}
