timeline-badge.ckan {
  background-color: #f7a34a !important;
}
timeline-badge.create {
  background-color: #d9534f !important;
}
timeline-badge.figshare {
  background-color: #5acdc3 !important;
}
timeline-badge.dspace {
  background-color: #a3cd3d !important;
}
timeline-badge.eprints {
  background-color: #f7941d !important;
}
timeline-badge.zenodo {
  background-color: #75caeb !important;
}
timeline-badge.b2share {
  background-color: #2a80b9 !important;
}
#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: 0.7em;
  position: relative;
  top: -10px;
}

canvas#repos{
  margin : 20px;
}

canvas#depos{
  margin : 20px;
}
