timeline-badge.ckan {
  background-color: #efe54d !important; }

timeline-badge.create {
  background-color: #d9534f !important; }


timeline-badge.figshare {
  background-color: #A3CD3D !important; }

timeline-badge.dspace {
  background-color: #92C745 !important; }

timeline-badge.eprints {
  background-color: #FF771E !important; }

timeline-badge.zenodo {
  background-color: #28B4F9 !important; }

timeline-badge.b2share {
  background-color: #1C418F !important; }