timeline-badge.ckan {
  background-color: #f7a34a !important; }

timeline-badge.create {
  background-color: #d9534f !important; }


timeline-badge.figshare {
  background-color: #5ACDC3 !important; }

timeline-badge.dspace {
  background-color: #A3CD3D !important; }

timeline-badge.eprints {
  background-color: #F7941D !important; }

timeline-badge.zenodo {
  background-color: #75CAEB !important; }

timeline-badge.b2share {
  background-color: #2A80B9 !important; }

#timeline .timeline-badge span.timeline-balloon-date-day {
  font-size: 1.4em;
}
#timeline .timeline-badge span.timeline-balloon-date-month {
  font-size: .7em;
  position: relative;
  top: -10px;
}

canvas#repos{
    margin: 20px;
  }

canvas#depos{
  margin: 20px;
}

