
i.fb,       span.fb{     color: #3b5998; }
i.tw,       span.tw{     color: #00aced; }
i.google,   span.google{ color: #dd4b39; }
i.linkin,   span.linkin{ color: #007bb6; }
i.mail,     span.mail{ color: darkgoldenrod; }
i.vk,       span.vk{     color: #45668e; }
i.pinterest,span.pinterest{color: #cb2027;}

  i.surfingbird{ max-height: 12px; min-width: 25%; }
i.surfingbird::before{
    content: url(http://bootstrap-ru.com/cdn/i/surf.png);
    position: relative;
    left:0px;
    top: -7px;
    float: left;
}

.google-plus-one{
    overflow: hidden;
    position: relative;
}

.google-plus-one i{
    position: absolute;
    left: -4px;
    bottom: -5px;
}

.google-plus-one span{
    font-size: 16px;
    font-weight: 900;
    line-height: 10px;
    margin-left: 15px;
}

.btn-sm.google-plus-one span{ font-size: 14px; }
.btn-sm.google-plus-one i{ bottom: -3px; }
.btn-lg.google-plus-one span{ font-size: 20px; margin-left: 18px; }
.btn-lg.google-plus-one i{ bottom: -5px; }
.btn-xs.google-plus-one span{ font-size: 12px;}
.btn-xs.google-plus-one i{ bottom: -7px; }
