#newPostContentID {
  display: block;
  width: 100%;
}
#wrapperSocialTimeline {
  opacity: 0.1;
}
.createManualPost {
  opacity: 1;
}
.showPostContentID-overflow-hidden {
  height: 10em;
  overflow-y: hidden;
}
.showPostContentID-overflow-auto {
  height: 10em;
  overflow-y: hidden;
}
