#newPostContentID {
  display: block;
  width: 100%;
}

#wrapperSocialTimeline {
  opacity 0.1;
}

.createManualPost {
  opacity 1;
}

.showPostContent-overflow-fixed {
  height: 10em;
  /*overflow-y: hidden;*/
}

.showPostContent-no-overflow {
  /*height: auto;*/
  //min-height: 50px;
  //height: 10em;
  /*overflow-y: scroll;*/
  min-height: 50px;
}

.showPostContent-with-scroll {
  height: 10em;
  overflow-y: scroll
}


.showPostContentContainer {
  height: 10em;
  overflow-y: hidden;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.timelineShowShare {
  margin-left: 20%;
  margin-right: 20%;
}

.show-share-panel {
  margin-left: 20%;
  margin-right: 20%;
}

.comment-reply-form {
  margin-left: 20%;
  margin-right: 20%;
}


.share-reply-form {
  margin-left: 20%;
  margin-right: 20%;
}

.postContent {
  padding: 5%
}

.postNumChanges {
  padding-left: 5%;
  padding-right: 5%;
}

.social-dendro-metadata-thumbnail {
  padding: 2%;
  padding-top: 8%;
}

.social-dendro-filesystem-thumbnail {
  padding: 2%;
}

.filesystem-post-content {
  padding: 5%
}

.author-information-partial {
  border-color: #f5f5f5;
  border-right-style: solid;
}

.centered-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px; //Half of the height of the loading graphic
  margin-left: -50px; //Half of the width of the loading graphic
}