#newPostContentID {
  display: block;
  width: 100%;
}
#wrapperSocialTimeline {
  opacity: 0.1;
}
.createManualPost {
  opacity: 1;
}
.showPostContent-overflow-fixed {
  height: 10em;
/*overflow-y: hidden;*/
}
.showPostContent-no-overflow {
/*height: auto;*/
/*overflow-y: scroll;*/
  min-height: 50px;
}
.showPostContent-with-scroll {
  height: 10em;
  overflow-y: scroll;
}
.showPostContentContainer {
  height: 10em;
  overflow-y: hidden;
}
