body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body a {
  font: 10px;
}
a {
  color: #00b7ff;
}
a .reject-recommendation {
  color: #aaa;
}
.recommendation-comment {
  color: #aaa;
}
info_messages {
  font-color: #22e;
}
error_messages {
  font-color: #f25;
}
#navcontainer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navcontainer ul li {
  display: inline;
}
#navcontainer ul li h1 {
  display: inline;
}
#navcontainer ul li h2 {
  display: inline;
}
#navcontainer ul li h3 {
  display: inline;
}
#navcontainer ul li h4 {
  display: inline;
}
#footer {
  width: 100%;
  float: bottom;
}
.change_log_table {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.metadata-markdown-box {
  margin-left: 100px;
  width: 80%;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 999px;
  text-align: right;
  opacity: 0;
  outline: none;
  background: #fff;
  cursor: inherit;
  display: block;
}
.control-value-read-only {
  padding: 0.5em 1em;
  border-left: 1px solid #ccc;
}
#carousel-tutorial {
  margin-top: 2em;
}
#carousel-tutorial * {
  color: #000;
}
#directory_tree .progress {
  margin: -15px;
  margin-top: 15px;
  position: relative;
  bottom: 0;
  border-radius: 0;
  height: 5px;
}
.autocomplete-width {
  width: 100%;
  top: 3px;
  bottom: 3px;
  word-wrap: break-word;
/**word-break: break-all; **/
  white-space: normal; /**** <<<< ----------------VERY IMPORTANT CSS3 PROPERTY **/
}
html,
body {
  height: 100%;
}
.container {
  height: 100%;
}
.main-row {
  margin-left: 0;
  margin-right: 0;
}
.fill {
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
}
.sidebar {
  height: 100%;
  min-height: 100%;
}
.main-content-area {
  height: 100%;
  min-height: 100%;
}
nav .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
footer .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}
.upload-area {
  padding: 40px;
  border-style: dashed;
  border-color: #aaa;
  text-align: center;
}
.upload-area-dropped-accept {
  border-color: #00a000;
  background-color: #00a000;
  color: #000;
}
.upload-area-dropped-reject {
  border-color: #d9230f;
  background-color: #d9230f;
  color: #fff;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 70px;
}
.deposit-sidebar {
  -webkit-border-radius: 20pt;
  -moz-border-radius: 20pt;
  border-radius: 20pt;
  border-width: 20pt;
  border-color: #aaa;
}
.sidebar-item {
  padding-left: 20;
}
.sidebar-title {
  text-align: center;
}
.deposit-list-info {
  margin-left: 20;
  padding-right: 20pt;
}
.deposit-info {
  border-width: 10pt;
  border-radius: 20pt;
  border-color: #0a9ab8;
  -webkit-border-radius: 20pt;
  -moz-border-radius: 20pt;
  -moz-border-bottom-colors: #0a6ebd;
}
.pad-right-4 {
  padding-right: 4px;
}
.pad-left-4 {
  padding-left: 4px;
}
.pad-top-4 {
  padding-top: 4px;
}
.pad-bottom-4 {
  padding-bottom: 4px;
}
.margin-top-4 {
  margin-top: 4px;
}
.margin-bottom-4 {
  margin-bottom: 4px;
}
.margin-left-4 {
  margin-left: 4px;
}
.margin-right-4 {
  margin-right: 4px;
}
.margin-left-20 {
  margin-left: 20px;
}
.deposit-result-title {
  font-size: 1.8em;
}
.deposit-result-description {
  font-style: italic;
}
.button-search {
  margin-bottom: 4px;
  margin-top: 4px;
  text-align: right;
  width: 174px;
}
.input-search {
  margin-bottom: 4px;
  margin-top: 4px;
  width: 174px;
}
.label-search {
  margin-left: 20px;
}
.width-130 {
  style: width 130px;
  width: 130px;
}
textarea {
  width: 300px;
  height: 150px;
  resize: none;
}
