.thumb {
  width: 24px;
  height: 24px;
}
.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: #808080;
}
.response {
  padding: 0;
  padding-top: 10px;
  margin: 3px 0;
  clear: both;
  list-style: none;
}
.response .sel-file li,
.response .reqh {
  color: #00f;
  padding-bottom: 5px;
}
.thin-progress {
  height: 5px;
  font-size: 10px;
  color: #000;
  padding-top: 0px;
  padding-bottom: 0px;
}
.thin-progress .sr-only {
  position: relative;
}
