.thumb {
  width: 24px;
  height: 24px;
}

.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: #808080;
}
.response {
  padding: 0;
  padding-top: 10px;
  margin: 3px 0;
  clear: both;
  list-style: none;
}
.response .sel-file li,
.response .reqh {
  color: #00f;
  padding-bottom: 5px;
}

.thin-progress
{
  height: 5px;
  font-size: 10px;
  color: black;
  padding-top: 0px;
  padding-bottom: 0px;
}

// we increased it so the text is visible or change font size
.thin-progress .sr-only { position: relative; }