<h3>Preview your imported project</h3>

<div class="row">
    <div class="col-sm-12 col-md-4">
        <tree nodes='backup_contents'>
        </tree>
    </div>
    <div class="col-sm-12 col-md-8">
        <table class="table table-condensed table-bordered" ng-show="hasChangedDescriptors(selectedNode)">
            <thead>
                <tr>
                    <th>
                        Descriptor
                    </th>
                    <th>
                        Value
                    </th>
                    <th>
                        New Value
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="descriptor in selectedNode.metadata" ng-hide="descriptor.locked" ng-class="{warning : descriptor.value != descriptor.newValue}">
                <td>
                    {{descriptor.prefixedForm}}
                </td>
                <td>
                    {{descriptor.value}}
                </td>
                <td>
                    {{descriptor.newValue}}
                </td>
            </tr>
        </table>

        <div class="alert alert-success" role="alert" ng-show="selectedNode != null && !hasChangedDescriptors(selectedNode)">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            No changes in metadata for this file or folder. Direct import will be carried out.
        </div>

    </div>
</div>

