<div class="panel panel-default" ng-show="!uploading">
    <div class="panel-body">
        <div class="upload-area"
             ngf-select
             ngf-drop="upload_for_importing($file)"
             ng-model="file"
             ngf-multiple="false"
             ngf-pattern="application/zip"
             ngf-drag-over-class="dragClass"
        >
            Click here or drag and drop to upload a <b style="font-size:3rem">ZIP file</b> containing a <b style="font-size:3rem">project backup</b>
        </div>
    </div>
</div>

<div class="progress" ng-show="uploading">
    <div class="progress-bar progress-bar-striped"
         role="progressbar"
         aria-valuenow="{{file.progress}}"
         aria-valuemin="0"
         aria-valuemax="100"
         ng-class="{animated: uploading}"
         style="width: {{file.progress}}%">
        <span class="sr-only">{{file.upload_progress}}% Complete</span>
    </div>
</div>

<div ngf-no-file-drop>File Drag/drop is not supported</div>