<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
            <div class="text-center">
                <h4>Where our projects live</h4>
                <p>The amount of projects in our supported repositories</p>
            </div>
            <div class="metrics">
                <canvas id="repos" width="200" height="100" class="chart-base" chart-type="type" chart-data="data"
                        chart-labels="labels" chart-colors="colors">
                </canvas>
            </div>
        </div>

    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
            <div class="text-center">
                <h4>What are we working on</h4>
                <p>The research domains of our projects</p>
            </div>
            <div class="metrics">
                <canvas id="repos" width="200" height="100" class="chart-base" chart-type="type2" chart-data="data"
                        chart-labels="labels" chart-colors="colors" chart-options="options">
                </canvas>
            </div>
        </div>

    <div class="col-md-4 col-sm-4 col-xs-12 text-center">
            <div class="text-center">
                <h4>How much we are growing</h4>
                <p>Researchers who are joining our platform</p>
            </div>
            <div class="metrics">
                <canvas id="depos" width="200" height="100" class="chart-bar" chart-data="data2"
                        chart-dataset-override="datasetOverride" chart-labels="labels2" chart-colors="depositscolors"
                        chart-options="options">
                </canvas>
            </div>
        </div>
</div>

