<h1 class="page-header">Share current folder to Dendro</h1>
<div class="col-lg-12">
    <div class="row form-group" ng-init="initValues(loggedUser.foaf.affiliation, shared.selected_file.dcterms.description)">
            <label for="recalled_b2share_repository_label">Label</label>
        <input type="text" ng-model="recalled_repository.dcterms.title" class="form-control" id="recalled_b2share_repository_label" placeholder="Label" disabled>

        <label for="titleOfDeposit">Title of deposit:</label>
        <input type="text" ng-model="titleOfDeposit" class="form-control" ng-value="title_of_file_selected" id="titleOfDeposit" placeholder="Title of deposit">
        <br>
        <label for="titleOfDeposit">Description of deposit:</label>
        <input type="text" ng-model="descriptionOfDeposit" class="form-control" ng-value="shared.selected_file.dcterms.description" id="descriptionOfDeposit" placeholder="Description of deposit">
        <br>
        <label for="userAffiliation">User affiliation:</label>
        <input type="text"  ng-model="userAffiliation"  class="form-control" id="userAffiliation" placeholder="User Affiliation">

        <br>
        <div class="row col-lg-12 col-md-12">
            <label>Privacy:</label>
            <div class=" pull-right col-lg-7 col-md-7">
                <div class="checkbox">
                    <input type="checkbox" for ="publicDeposit0" id="publicDeposit0" ng-change="change_checkbox(publicDeposit, 4, 0)" ng-model="publicDeposit[0]">
                    <label name="publicDeposit0">Make this deposit public</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" for ="publicDeposit1" id="publicDeposit1" ng-change="change_checkbox(publicDeposit, 4, 1)" ng-model="publicDeposit[1]">
                    <label>Make this registry embargoed until</label>
                    <input ng-disabled="!publicDeposit[1]" type="date" ng-model="embargoed" name="embargoed" >
                </div>
                <div class="checkbox">
                    <input type="checkbox" for ="publicDeposit2" id="publicDeposit2" ng-change="change_checkbox(publicDeposit, 4, 2)" ng-model="publicDeposit[2]">
                    <label name="publicDeposit2">Make this deposit private</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" for ="publicDeposit3" id="publicDeposit3" ng-change="change_checkbox(publicDeposit, 4, 3)" ng-model="publicDeposit[3]">
                    <label name="publicDeposit3">Make public metadata only</label>
                </div>
            </div>
        </div>
        <div class="row col-lg-9 col-md-9 col-sm-7">
                <label for="accessTerms" id="accessTerms">Access conditions:</label>
            <div class="pull-right">
                <textarea placeholder="Complete your conditions of access to the deposit" name="accessTerms" ng-model="accessTerms">
                </textarea>
                </div>
        </div>

        <div class="row col-md-12 col-sm-12">
            <div ng-if="!is_sending_data" class="col-lg-12">
                <button type="button" ng-click="delete_bookmark(recalled_repository, true)" class="btn btn-danger btn-large"><span class="glyphicon glyphicon-remove "></span>Delete this bookmark</button>

                <button type="cancel"
                        ng-click="upload_to_repository(recalled_repository, publicDeposit, titleOfDeposit, embargoed, accessTerms, userAffiliation, descriptionOfDeposit)"
                        ng-disabled="disable_send_bookmark_dendro(titleOfDeposit, publicDeposit, embargoed, userAffiliation)"
                        class="btn btn-success pull-right"><span class="glyphicon glyphicon-upload"></span>Send</button>
            </div>
            <div ng-if="is_sending_data" class="pull-right">
                <button type="cancel" class="btn btn-success pull-right" disabled="disabled"> <img src="/images/loading.gif">Sending</button>
            </div>
        </div>
    </div>
</div>
