<%- include ../layout/header.ejs %>

<div ng-controller="fileVersionsCtrl" ng-init="initSingleFileVersion('<%=fileVersionUri%>');get_logged_user();">
    <ng-include src="'/app/views/social/showFileVersion.html'" ng-init="fileVersionUri = '<%=fileVersionUri%>';"></ng-include>
</div>

<%- include ../layout/footer.ejs %>