<div ng-controller="fileVersionsCtrl" ng-init="init(); get_logged_user();" xmlns="http://www.w3.org/1999/html">
    <p> This is file versions timeline </p>
    <p> Number of file versions {{totalFileVersions}} </p>

    {{fileVersions}}
    <div class="container">
        <h3>File Versions Timeline</h3>
        <hr>
        <ul class="list-group">
            <div dir-paginate="fVersion in fileVersions | itemsPerPage: fileVersionsPerPage" total-items="totalFileVersions" current-page="pagination.current">
                <div ng-init="getFileVersion(fVersion.fileVersion);fileVersionLikesInfo(fVersion.fileVersion);getCommentsFromFileVersion(fVersion.fileVersion);getSharesFromFileVersion(fVersion.fileVersion)">
                    <div ng-if="fileVersionsList[fVersion.fileVersion].rdf.isShare">
                        <img width="10%" height="20%" ng-src="http://iconshow.me/media/images/ui/ios7-icons/png/256/contact-outline.png" alt="Description" />
                        <p> {{fileVersionsList[fVersion.fileVersion].ddr.userWhoShared.split('/').pop()}} : "{{fileVersionsList[fVersion.fileVersion].ddr.shareMsg}}"</p>
                        <!-- obtain the original post information-->
                        <div ng-init="getFileVersion(fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri)" style="padding-left: 2%">
                            <!-- The info from the original post-->
                            <div class="btn-group" style="background-color:#e5e6e8; border-style: dashed; border-width:2px;">
                                <table class="table changelog-table">
                                    <img width="10%" height="20%" ng-src="http://iconshow.me/media/images/ui/ios7-icons/png/256/contact-outline.png" alt="Description">
                                    <tr>
                                        <th width="14%">

                                        </th>
                                        <th width="14%" class="table-centertext">
                                            Author
                                        </th>
                                        <th width="14%">
                                            Change Type
                                        </th>
                                        <th width="14%">
                                            Item Type
                                        </th>
                                        <th width="14%">
                                            Link
                                        </th>

                                        <th width="14%">
                                            Name
                                        </th>

                                        <th width="14%">

                                        </th>
                                    </tr>

                                    <tr>
                                        <td> </td>
                                        <td> {{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].ddr.creatorUri}} </td>
                                        <td> add </td>
                                        <td> {{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].ddr.itemType}} </td>
                                        <td> {{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].uri}} </td>
                                        <td> {{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].nfo.fileName}} </td>
                                        <td> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!fileVersionsList[fVersion.fileVersion].rdf.isShare">
                        <img width="10%" height="20%" ng-src="http://iconshow.me/media/images/ui/ios7-icons/png/256/contact-outline.png" alt="Description" />
                        <table class="table changelog-table">
                            <tr>
                                <th width="14%">

                                </th>
                                <th width="14%" class="table-centertext">
                                    Author
                                </th>
                                <th width="14%">
                                    Change Type
                                </th>
                                <th width="14%">
                                    Item Type
                                </th>
                                <th width="14%">
                                    Link
                                </th>

                                <th width="14%">
                                    Name
                                </th>

                                <th width="14%">

                                </th>
                            </tr>

                            <tr>
                                <td> </td>
                                <td> {{fileVersionsList[fVersion.fileVersion].ddr.creatorUri}} </td>
                                <td> add </td>
                                <td> {{fileVersionsList[fVersion.fileVersion].ddr.itemType}} </td>
                                <td> {{fileVersionsList[fVersion.fileVersion].uri}} </td>
                                <td> {{fileVersionsList[fVersion.fileVersion].nfo.fileName}} </td>
                                <td> </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p> {{likesFileVersionInfo[fVersion.fileVersion].numLikes}} likes, {{commentList[fVersion.fileVersion].length}} comments, {{shareList[fVersion.fileVersion].length}} shares</p>
                <div class="btn-group">
                    <!--indexOf(substring) > -1-->
                    <label ng-model="checkModel.left" ng-class="likesFileVersionInfo[fVersion.fileVersion].usersWhoLiked.indexOf(loggedUser) > -1 ? 'btn btn-success' : 'btn btn-primary'" uib-btn-checkbox data="{{fVersion.fileVersion}}" ng-click="like_file_version(fVersion.fileVersion)">Like</label>
                    <label class="btn btn-primary" ng-model="checkModel.middle" uib-btn-checkbox data="{{fVersion.fileVersion}}" ng-click="isReplyFormOpen = !isReplyFormOpen; getCommentsFromFileVersion(fVersion.fileVersion);isShareFormOpen = false;">Comment</label>
                    <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox data="{{fVersion.fileVersion}}" ng-click="isShareFormOpen = !isShareFormOpen; getSharesFromFileVersion(fVersion.fileVersion);isReplyFormOpen = false;">Share</label>
                </div>
                <div ng-init="isReplyFormOpen = false" ng-show="isReplyFormOpen" id="replyForm">
                    <div class="wall">
                        <div ng-repeat="comment in commentList[fVersion.fileVersion] | orderBy: 'dcterms.created'">
                            <a ng-href="{{comment.ddr.userWhoCommented}}"><p style="font-weight:bold"> {{comment.ddr.userWhoCommented.split('/').pop()}} : </p></a>
                            <p style="font-style: italic">{{comment.ddr.commentMsg}}</p>
                            <span>{{comment.dcterms.created | date:'MM/dd/yyyy @ h:mma'}}</span><br>
                            <hr>
                        </div>
                        <label for="new_comment_box">{{loggedUser.split('/').pop()}} :</label>
                        <input ng-model="comment_content" type="text" id="new_comment_box"/>
                        <a ng-click="commentFileVersion(fVersion.fileVersion,comment_content)" class="btn btn-default btn-primary">Enviar</a>
                    </div>
                </div>

                <div ng-init="isShareFormOpen = false" ng-show="isShareFormOpen" id="replyFormShare">
                    <div class="wall">
                        <label for="new_fileVersion_box_share">Insira uma share message:</label>
                        <input ng-model="share_content" type="text" id="new_fileVersion_box_share"/>
                        <a ng-click="shareFileVersion(fVersion.fileVersion,share_content)" class="btn btn-default btn-primary">Enviar shareMessage</a>
                    </div>
                </div>
                <hr>
            </div>
        </ul>
    </div>

    <div>
        <small>this is in "fileVersionsCtrl"</small>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/bower_components/angularUtils-pagination/dirPaginationFileVersions.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>