<%- include ../layout/header.ejs %>

<div ng-controller="timelineCtrl" ng-init="initTimeline('<%= posts %>');get_logged_user();">
    <div ng-cloak>
        <div class="container">
            <h3 class="text-center">Social Dendro</h3>
            <hr>

            <ng-include src="'/app/views/social/partial/createManualPost.html'"></ng-include>

            <hr>
            <ul class="list-group">
                <div ng-show="posts.length==0 && !getting_posts && !doing_getPost" class="text-center" ng-cloak>
                    <h4>There are no Posts</h4>
                    <i class="fa fa-file-o fa-5x" aria-hidden="true"></i>
                </div>

                <!--<p>posts : {{posts}}</p>
                <p>posts.length : {{posts.length}}</p>
                <p> totalPosts : {{totalPosts}}</p>
                <p> postsPerPage : {{postsPerPage}}</p>
                <p> paginationCurrent : {{pagination.current}}</p>-->

                <div>
                    <span spinner-key="social-dendro-spinner" us-spinner="{radius:30, width:8, length: 16}"
                          spinner-start-active="true"></span>
                </div>

                <div ng-show="posts.length > 0 && !getting_posts && !doing_getPost">
                    <div dir-paginate="post in posts | filter:q | itemsPerPage: postsPerPage" total-items="totalPosts"
                         current-page="pagination.current">
                        <!--<div ng-init="getPost(post.uri, null);">
                            <p> TYPE : {{postsContents[post.uri].rdf.type}}</p>
                            <div ng-if="postsContents[post.uri].rdf.isShare">
                                &lt;!&ndash;<p> IS A SHARE </p>&ndash;&gt;
                                <ng-include src="'/app/views/social/showShare.html'"
                                            onload="initSingleShare(post.uri); shareUri = post.uri;"></ng-include>
                            </div>

                            &lt;!&ndash;<div style="margin-left: 20%; margin-right: 20%" ng-if="!postsContents[post.uri].rdf.isShare">&ndash;&gt;
                            <div class="timelineShowShare" ng-if="!postsContents[post.uri].rdf.isShare">
                                <ng-include src="'/app/views/social/showPost.html'"
                                            onload="initSinglePost(post.uri); postUri = post.uri;"></ng-include>
                            </div>
                            <hr>
                        </div>-->
                        <div>
                            <!--<div ng-if="postsContents[post.uri].rdf.isShare">-->
                            <div ng-if="postsContents[post.uri].rdf.type.includes('http://dendro.fe.up.pt/ontology/0.1/Share')">
                                <p> IS A SHARE </p>
                                <ng-include src="'/app/views/social/showShare.html'"
                                            onload="shareUri = post.uri; userWhoShared = postsContents[post.uri].ddr.userWhoShared"></ng-include>
                            </div>

                            <!--<div class="timelineShowShare" ng-if="!postsContents[post.uri].rdf.isShare">-->
                            <div class="timelineShowShare" ng-if="!postsContents[post.uri].rdf.type.includes('http://dendro.fe.up.pt/ontology/0.1/Share')">
                                <ng-include src="'/app/views/social/showPost.html'"
                                            onload="postUri = post.uri;"></ng-include>
                            </div>
                            <!--<hr>-->
                        </div>
                    </div>
                </div>
                </li>
            </ul>
        </div>

        <div ng-show="!getting_posts && !doing_getPost">
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="/bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>

</div>

<div>
    <%- include ../layout/footer.ejs %>
</div>