<%- include ../layout/header.ejs %>

<div class="centered-spinner">
            <span spinner-key="social-dendro-spinner" us-spinner="{radius:30, width:8, length: 16}"
                  spinner-start-active="true"></span>
</div>

<div ng-controller="timelineCtrl" ng-init="initTimeline('<%= posts %>');get_logged_user();">
    <div ng-cloak>
        <div class="container">
            <h3 class="text-center">Social Dendro</h3>
            <hr>

            <ng-include src="'/app/views/social/partial/createManualPost.html'"></ng-include>

            <hr>
            <ul class="list-group">
                <div ng-show="posts.length==0 && !doingARequest" class="text-center" ng-cloak>
                    <h4>There are no Posts</h4>
                    <i class="fa fa-file-o fa-5x" aria-hidden="true"></i>
                </div>

                <!--<div>
                    <span spinner-key="social-dendro-spinner" us-spinner="{radius:30, width:8, length: 16}"
                          spinner-start-active="true"></span>
                </div>-->

                <div ng-show="posts.length > 0 && !doingARequest">
                    <div dir-paginate="post in posts | filter:q | itemsPerPage: postsPerPage" total-items="totalPosts"
                         current-page="pagination.current">
                        <div>
                            <div ng-if="postsContents[post.uri].rdf.type.includes('http://dendro.fe.up.pt/ontology/0.1/Share')">
                                <ng-include src="'/app/views/social/showShare.html'"
                                            onload="shareUri = post.uri; userWhoShared = postsContents[post.uri].ddr.userWhoShared; postUri = postsContents[post.uri].ddr.postURI;"></ng-include>
                            </div>

                            <div class="timelineShowShare" ng-if="!postsContents[post.uri].rdf.type.includes('http://dendro.fe.up.pt/ontology/0.1/Share')">
                                <ng-include src="'/app/views/social/showPost.html'"
                                            onload="postUri = post.uri;"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>
                </li>
            </ul>
        </div>

        <div ng-show="!doingARequest">
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                         template-url="/bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>

</div>

<div>
    <%- include ../layout/footer.ejs %>
</div>