<div ng-cloak>
    <div class="container">
        <h3>File Versions Timeline</h3>
        <hr>
        <ul class="list-group">
            <div dir-paginate="fVersion in fileVersions | itemsPerPage: fileVersionsPerPage" total-items="totalFileVersions" current-page="pagination.current">
                <div ng-init="getFileVersion(fVersion.fileVersion);fileVersionLikesInfo(fVersion.fileVersion);getCommentsFromFileVersion(fVersion.fileVersion);getSharesFromFileVersion(fVersion.fileVersion)">
                    <div class="panel panel-info" ng-if="fileVersionsList[fVersion.fileVersion].rdf.isShare">
                        <div class="panel-heading">
                            <h3 class="panel-title"> {{fileVersionsList[fVersion.fileVersion].dcterms.modified | date : 'dd/MMM/yyyy'}} <a ng-href="{{fileVersionsList[fVersion.fileVersion].ddr.userWhoShared}}">{{fileVersionsList[fVersion.fileVersion].ddr.userWhoShared.split('/').pop()}}</a> : "{{fileVersionsList[fVersion.fileVersion].ddr.shareMsg}}"</h3>
                        </div>
                        <div class="panel-body">
                            <!-- obtain the original post information-->
                            <div ng-init="getFileVersion(fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri)" style="padding-left: 2%">
                                <!-- The info from the original post-->
                                <div class="btn-group panel panel-success" style="background-color:#e5e6e8; border-style: dashed; border-width:2px;">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"> {{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].dcterms.modified | date : 'dd/MMM/yyyy'}} <a ng-href="{{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].ddr.creatorUri}}">{{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].ddr.creatorUri.split('/').pop()}}</a>  added a file version</h3>
                                    </div>
                                    <div class="panel-body">
                                        <table class="table changelog-table">
                                            <img width="10%" height="20%" ng-src="http://iconshow.me/media/images/ui/ios7-icons/png/256/contact-outline.png" alt="Description">
                                            <tr>
                                                <th width="14%">

                                                </th>
                                                <th width="14%" class="table-centertext">
                                                    Author
                                                </th>
                                                <th width="14%">
                                                    Change Type
                                                </th>
                                                <th width="14%">
                                                    Item Type
                                                </th>
                                                <th width="14%">
                                                    Link
                                                </th>

                                                <th width="14%">
                                                    Name
                                                </th>

                                                <th width="14%">

                                                </th>
                                            </tr>

                                            <tr>
                                                <td> </td>
                                                <td> <a ng-href="{{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].ddr.creatorUri}}">{{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].ddr.creatorUri.split('/').pop()}}</a> </td>
                                                <td> add </td>
                                                <td> {{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].ddr.itemType}} </td>
                                                <td> <a ng-href="{{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].uri}}">{{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].uri.split('/').pop()}}</a>  </td>
                                                <td> <a ng-href="{{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].nfo.fileName}}">{{fileVersionsList[fileVersionsList[fVersion.fileVersion].ddr.fileVersionUri].nfo.fileName.split('\\').pop()}}</a></td>
                                                <td> </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-success" ng-if="!fileVersionsList[fVersion.fileVersion].rdf.isShare">
                        <div class="panel-heading">
                            <h3 class="panel-title"> {{fileVersionsList[fVersion.fileVersion].dcterms.modified | date : 'dd/MMM/yyyy'}} <a ng-href="{{fileVersionsList[fVersion.fileVersion].ddr.creatorUri}}">{{fileVersionsList[fVersion.fileVersion].ddr.creatorUri.split('/').pop()}}</a> added a file version </h3>
                        </div>
                        <div class="panel-body">
                            <img width="10%" height="20%" ng-src="http://iconshow.me/media/images/ui/ios7-icons/png/256/contact-outline.png" alt="Description" />
                            <table class="table changelog-table">
                                <tr>
                                    <th width="14%">

                                    </th>
                                    <th width="14%" class="table-centertext">
                                        Author
                                    </th>
                                    <th width="14%">
                                        Change Type
                                    </th>
                                    <th width="14%">
                                        Item Type
                                    </th>
                                    <th width="14%">
                                        Link
                                    </th>

                                    <th width="14%">
                                        Name
                                    </th>

                                    <th width="14%">

                                    </th>
                                </tr>

                                <tr>
                                    <td> </td>
                                    <td> <a ng-href="{{fileVersionsList[fVersion.fileVersion].ddr.creatorUri}}">{{fileVersionsList[fVersion.fileVersion].ddr.creatorUri.split('/').pop()}}</a> </td>
                                    <td> add </td>
                                    <td> {{fileVersionsList[fVersion.fileVersion].ddr.itemType}} </td>
                                    <td> <a ng-href="{{fileVersionsList[fVersion.fileVersion].uri}}">{{fileVersionsList[fVersion.fileVersion].uri.split('/').pop()}}</a>  </td>
                                    <td> <a ng-href="{{fileVersionsList[fVersion.fileVersion].nfo.fileName}}">{{fileVersionsList[fVersion.fileVersion].nfo.fileName.split('\\').pop()}}</a></td>
                                    <td> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <p> {{likesFileVersionInfo[fVersion.fileVersion].numLikes}} likes, {{commentList[fVersion.fileVersion].length}} comments, {{shareList[fVersion.fileVersion].length}} shares</p>
                <div class="btn-group">
                    <!--indexOf(substring) > -1-->
                    <label ng-model="checkModel.left" ng-class="likesFileVersionInfo[fVersion.fileVersion].usersWhoLiked.indexOf(loggedUser) > -1 ? 'btn btn-success' : 'btn btn-primary'" uib-btn-checkbox data="{{fVersion.fileVersion}}" ng-click="like_file_version(fVersion.fileVersion)"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</label>
                    <label class="btn btn-primary" ng-model="checkModel.middle" uib-btn-checkbox data="{{fVersion.fileVersion}}" ng-click="isReplyFormOpen = !isReplyFormOpen; getCommentsFromFileVersion(fVersion.fileVersion);isShareFormOpen = false;"> <i class="fa fa-comment" aria-hidden="true"></i> Comment</label>
                    <label class="btn btn-primary" ng-model="checkModel.right" uib-btn-checkbox data="{{fVersion.fileVersion}}" ng-click="isShareFormOpen = !isShareFormOpen; getSharesFromFileVersion(fVersion.fileVersion);isReplyFormOpen = false;"> <i class="fa fa-share" aria-hidden="true"></i> Share</label>
                </div>
                <div ng-init="isReplyFormOpen = false" ng-show="isReplyFormOpen" id="replyForm">
                    <div class="wall">
                        <div ng-repeat="comment in commentList[fVersion.fileVersion] | orderBy: 'dcterms.created'">
                            <a ng-href="{{comment.ddr.userWhoCommented}}"><p style="font-weight:bold"> {{comment.ddr.userWhoCommented.split('/').pop()}} : </p></a>
                            <p style="font-style: italic">{{comment.ddr.commentMsg}}</p>
                            <span>{{comment.dcterms.created | date:'MM/dd/yyyy @ h:mma'}}</span><br>
                            <hr>
                        </div>
                        <label for="new_comment_box">{{loggedUser.split('/').pop()}} :</label>
                        <input ng-model="comment_content" type="text" id="new_comment_box"/>
                        <a ng-click="commentFileVersion(fVersion.fileVersion,comment_content);comment_content=''" class="btn btn-default btn-primary">Send</a>
                    </div>
                </div>

                <div ng-init="isShareFormOpen = false" ng-show="isShareFormOpen" id="replyFormShare">
                    <div class="wall">
                        <label for="new_fileVersion_box_share">Write a share message:</label>
                        <input ng-model="share_content" type="text" id="new_fileVersion_box_share"/>
                        <a ng-click="shareFileVersion(fVersion.fileVersion,share_content);share_content=''" class="btn btn-default btn-primary">Send</a>
                    </div>
                </div>
                <hr>
            </div>
        </ul>
    </div>

    <div>
        <small>this is in "fileVersionsCtrl"</small>
        <div class="text-center">
            <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandlerFVersion(newPageNumber)" template-url="/bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>
</div>