<div class="panel panel-info show-share-panel" onload="getUserInfo(postsContents[shareUri].ddr.userWhoShared);">
    <div class="panel-heading">
        <!--<h3 class="panel-title"> {{postsContents[shareUri].dcterms.modified | date : 'dd/MMM/yyyy'}} <img class="img-circle" width="5%" height="5%" ng-src="/user/{{postsContents[shareUri].ddr.userWhoShared.split('/').pop()}}/avatar"> <a ng-href="{{postsContents[shareUri].ddr.userWhoShared}}"> {{postsContents[shareUri].ddr.userWhoShared.split('/').pop()}} </a> : "{{postsContents[shareUri].ddr.shareMsg}}"</h3>-->
        <h3 class="panel-title"> {{postsContents[shareUri].ddr.modified | date : 'dd/MMM/yyyy'}} <img class="img-circle" width="5%" height="5%" ng-src='{{postsContents[shareUri].ddr.userWhoShared}}?avatar'> <a ng-href="{{postsContents[shareUri].ddr.userWhoShared}}"> {{fullUsersInfo[postsContents[shareUri].ddr.userWhoShared].ddr.username}} </a> : "{{postsContents[shareUri].ddr.shareMsg}}"</h3>
    </div>

    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <ng-include src="'/app/views/social/showPost.html'" onload="postUri = postsContents[shareUri].ddr.postURI;"></ng-include>
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <a ng-model="checkModel.left" ng-class="postsContents[shareUri].likesContent.usersWhoLiked.indexOf(loggedUser.uri) > -1 ? 'btn-sm btn-success' : 'btn-sm'" uib-btn-checkbox data="{{postsContents[shareUri].uri}}" ng-click="likePost(postsContents[shareUri].uri)"> <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</a> <span>{{postsContents[shareUri].likesContent.numLikes}},</span>
        <a class="btn-sm" ng-model="checkModel.middle" uib-btn-checkbox data="{{postsContents[shareUri].uri}}" ng-click="isReplyFormOpen = !isReplyFormOpen; isShareFormOpen = false;"> <i class="social-dendro-btn fa fa-comment" aria-hidden="true"></i> Comment</a> <span> {{postsContents[shareUri].commentsContent.length}}</span>
        <!--<a class="btn-sm" ng-model="checkModel.right" uib-btn-checkbox data="{{postsContents[shareUri].uri}}" ng-click="isShareFormOpen = !isShareFormOpen;isReplyFormOpen = false;"> <i class="social-dendro-btn fa fa-share" aria-hidden="true"></i> Share</a> <span>{{postsContents[shareUri].sharesContent.length}}</span>-->
    </div>
</div>

<div ng-init="isReplyFormOpen = false" ng-show="isReplyFormOpen" id="replyForm" class="comment-reply-form">
    <div class="wall">
        <div ng-repeat="comment in postsContents[shareUri].commentsContent | orderBy: 'dcterms.created' track by $index">
            <a ng-href="{{comment.ddr.userWhoCommented}}"><strong> {{comment.ddr.userWhoCommented.split('/').pop()}} : </strong></a>
            <p> <i> {{comment.ddr.commentMsg}} </i> </p>
            <span>{{comment.dcterms.created | date:'MM/dd/yyyy @ h:mma'}}</span><br>
            <hr>
        </div>
        <label for="new_comment_box">{{loggedUser.ddr.username}} :</label>
        <textarea class="form-control" rows="5" id="new_comment_box" ng-model="comment_content" placeholder="Write your comment here"></textarea>
        <a ng-click="commentPost(postsContents[shareUri].uri,comment_content);comment_content=''" class="btn btn-default btn-primary">Send</a>
    </div>
</div>

<!--
<div ng-init="isShareFormOpen = false" ng-show="isShareFormOpen" id="replyFormShare" style="margin-left: 20%; margin-right: 20%">
    <div class="wall">
        <label for="new_post_box_share">{{loggedUser.ddr.username}} :</label>
        <textarea class="form-control" rows="5" id="new_post_box_share" ng-model="share_content" placeholder="Write your share message here"></textarea>
        <a ng-click="sharePost(postsContents[shareUri].uri,share_content);share_content=''" class="btn btn-default btn-primary">Send</a>
    </div>
</div>-->
