
<div class="centered-spinner">
            <span spinner-key="social-dendro-spinner" us-spinner="{radius:30, width:8, length: 16}"
                  spinner-start-active="true"></span>
</div>

<div ng-show="!doingARequest">
    <div class="panel panel-info show-share-panel">
        <div class="panel-heading">
            <h3 class="panel-title"> {{postsContents[shareUri].ddr.modified | date : 'dd/MMM/yyyy'}} <img
                    class="img-circle" width="5%" height="5%"
                    ng-src='{{postsContents[shareUri].ddr.userWhoShared}}?avatar'> <a
                    ng-href="{{postsContents[shareUri].ddr.userWhoShared}}">
                {{fullUsersInfo[postsContents[shareUri].ddr.userWhoShared].ddr.username}} </a> :
                "{{postsContents[shareUri].ddr.shareMsg}}"</h3>
        </div>

        <div class="panel-body">
            <div class="media">
                <div class="media-left">
                    <ng-include src="'/app/views/social/showPost.html'" onload="postUri = postUri"></ng-include>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <a ng-model="checkModel.left"
               ng-class="postsContents[shareUri].likesContent.usersWhoLiked.indexOf(loggedUser.uri) > -1 ? 'btn-sm btn-success' : 'btn-sm'"
               uib-btn-checkbox data="{{postsContents[shareUri].uri}}" ng-click="likePost(postsContents[shareUri].uri)">
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like</a> <span>{{postsContents[shareUri].likesContent.numLikes}},</span>
            <a class="btn-sm" ng-model="checkModel.middle" uib-btn-checkbox data="{{postsContents[shareUri].uri}}"
               ng-click="isReplyFormOpen = !isReplyFormOpen; isShareFormOpen = false;"> <i
                    class="social-dendro-btn fa fa-comment" aria-hidden="true"></i> Comment</a> <span> {{postsContents[shareUri].commentsContent.length}}</span>
        </div>
    </div>

    <div ng-init="isReplyFormOpen = false" ng-show="isReplyFormOpen" id="replyForm" class="comment-reply-form">
        <div class="wall">
            <div ng-repeat="comment in postsContents[shareUri].commentsContent | orderBy: 'dcterms.created' track by $index">
                <div ng-init="getUserInfo(comment.ddr.userWhoCommented)">
                    <a ng-href="{{comment.ddr.userWhoCommented}}"><strong>
                        {{fullUsersInfo[comment.ddr.userWhoCommented].ddr.username}} : </strong></a>
                    <p><i> {{comment.ddr.commentMsg}} </i></p>
                    <span>{{comment.dcterms.created | date:'MM/dd/yyyy @ h:mma'}}</span><br>
                    <hr>
                </div>
            </div>
            <label for="new_comment_box">{{loggedUser.ddr.username}} :</label>
            <textarea class="form-control" rows="5" id="new_comment_box" ng-model="comment_content"
                      placeholder="Write your comment here"></textarea>
            <a ng-click="commentPost(postsContents[shareUri].uri,comment_content);comment_content=''"
               class="btn btn-default btn-primary">Send</a>
        </div>
    </div>
</div>