
<h1 class="sidebar-title">Deposit information</h1>

<div class="deposit-info">
    <table class="table table-responsive table-striped table-bordered">
        <tbody>
        <tr>
            <td>Date created: </td>
            <td><%= locals.deposit.dcterms.date%></td>
        </tr>
        <tr>
            <td>External deposit: </td>
            <td><a href="<%= locals.deposit.externalUri%>">Identifier</a>&nbsp &nbsp<span ng-if="<%=locals.deposit.ddr.isAvailable%>" class="glyphicon glyphicon-thumbs-up"></span><span ng-if="!<%=locals.deposit.ddr.isAvailable%>" class="glyphicon glyphicon-thumbs-down"></span></td>
        </tr>
        </tbody>

    </table>
</div>
