<form class="deposit-sidebar">
    <div>
        <h4>Advanced search</h4>
        <%if (locals.searching_in_user_s_deposits_only) {%>
            <div search-bar searchmodel="search" searchfunction="getMyRegistry"></div>
        <% } else {%>
            <div search-bar searchmodel="search" searchfunction="getRegistry"></div>
        <% } %>
    </div>
</form>
