<%- include layout/header.ejs %>

<link rel='stylesheet' href='/stylesheets/stylish-portfolio.css'/>

<!-- Services -->

<div id="services" class="services">
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-12 text-center">
                    <h2>Welcome to Dendro Beta</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                    <h4>A linked, open and collaborative research data management platform.</h4>
                    <h4>Short Description...</h4>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div class="container">
                <div id="carouseljumbotron" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carouseljumbotron" data-slide-to="0" class="active"></li>
                        <li data-target="#carouseljumbotron" data-slide-to="1"></li>
                        <li data-target="#carouseljumbotron" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                                <img src="images/metrics/zenodo.png" alt="CKAN">
                            <div class="carousel-caption">
                                <h3>CKAN</h3>
                                <p>This text needs to be fixed!</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="images/metrics/zenodo.png" alt="CKAN">
                            <div class="carousel-caption">
                                <p>This is a Zenodo image!</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="images/metrics/zenodo.png" alt="CKAN">
                            <div class="carousel-caption">
                                <h3>EUDAT</h3>
                                <p>This is the EUDAT logo!</p>
                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#carouseljumbotron" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carouseljumbotron" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="splashmetrics" ng-controller="metricsController">
    <div ng-init="initsplash()">
        <div class="col-lg-12">
            <%- include metrics/splash_metrics.ejs %>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-md-3 col-md-offset-2 col-xs-12 text-center">
            <div class="service-item">
                <i class="fa fa-file-text fa-6" aria-hidden="true"></i>
                <h3>Read papers<!--<a href="/papers/all">papers</a>--></h3>
                <!--<h4><span class="label label-primary">18917827</span> and counting</h4>-->
                <p>Find relevant bibliography by searching on high-quality metadata. The papers and other documents are contributed by researchers like yourself. </p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 text-center">
            <div class="service-item">
                <i class="fa fa-archive fa-3"></i>
                <h3>Browse datasets<!--<a href="/datasets/all">Datasets</a>--></h3>
                <!--<h4><span class="label label-primary">18917827</span> and counting</h4>-->
                <p>Find high-quality, community-managed datasets, including domain-specific descriptions</p>
            </div>
        </div>
        <div class="col-md-3 col-xs-12 text-center">
            <div class="service-item">
                <i class="fa fa-user"></i>
                <h3>Contact researchers<!--<a href="/researchers/all">Researchers</a>--></h3>
                <!--<h4><span class="label label-primary">19811</span> and counting</h4>-->
                <p>Contact researchers who shared <!--<a href="/datasets/all">data</a>--> data on this Dendro</p>
            </div>
        </div>
    </div>

    <%- include registry/deposits_listing.ejs %>
</div>

<!-- /Services -->

</div><!-- /.container -->

<%- include layout/footer.ejs %>
