	<%- include ../../../../src/views %>

    <%- include layout/header.ejs %>

    <!--header -->

    <div class="container" ng-controller="dendroRecommender.interactionsCtrl" ng-init="init('<%=locals.session.user.ddr.username%>')">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-12">
                    <h1>User interaction analysis</h1>
                </div>
            </div>
        </div>

        <div class="well">
            <h4>Random generation</h4>
            <h5>Include descriptors from which ontologies?</h5>
            <div class="row">
                <div class="col-lg-5">
                    <h4>Excluded Ontologies</h4>
                    <select multiple class="full-width" ng-model="selected_ontologies_for_including" ng-options="ontology.uri for ontology in excluded_ontologies" ng-multiple="true"></select>
                </div>
                <div class="col-lg-2">
                    <div class="row" class="center-text">
                        <div class="col-lg-12">
                            <button id="remove_ontology_button"
                                    type=button"
                                    ng-click="exclude_ontologies()"
                                    class="btn btn-danger"><i class="fa fa-arrow-circle-o-left">Remove</i></button>
                            <button id="add_ontology_button"
                                    type=button"
                                    ng-click="include_ontologies()"
                                    class="btn btn-info"><i class="fa fa-arrow-circle-o-right">Add</i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h4>Included Ontologies</h4>
                    <select multiple class="full-width" ng-model="selected_ontologies_for_excluding" ng-options="ontology.uri for ontology in random_generation_parameters.included_ontologies" ng-multiple="true"></select>
                </div>
            </div>

            <h5>Positive or negative</h5>
            <div class="row">
                <div class="col-lg-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="random_generation_parameters.positive"> Include positive interactions
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="random_generation_parameters.negative"> Include negative interactions
                        </label>
                    </div>
                </div>
            </div>

            <h5>How many?</h5>

            <div class="row">
                <div class="col-lg-6">
                    <input id="how_many_random_interactions_to_generate_text_field"class="form-control" ng-model="random_generation_parameters.how_many">
                </div>
            </div>

            <h5>The interactions are to be recorded to which user URI?</h5>

            <div class="row">
                <div class="col-lg-6">
                    <input id="user_uri_text_field" class="form-control" ng-model="random_generation_parameters.user">
                </div>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col-lg-6 pull-left">
                <button id="delete-all-interactions-button"
                        type=button"
                        ng-click="delete_all_interactions()"
                        class="btn btn-danger"><i class="fa fa-bomb">Delete all interactions</i></button>
            </div>
            <div class="col-lg-3 text-center">
                <button id="push-to-dendro-recommender-button"
                        type=button"
                        ng-click="push_all_interactions_to_dendro_recommender()"
                        class="btn btn-default"><i class="fa fa-upload">Push interactions</i></button>
            </div>
            <div class="col-lg-3 text-center">
                <button id="push-n-random-to-dendro-recommender-button"
                        type=button"
                        ng-click="push_random_interactions_to_dendro_recommender()"
                        class="btn btn-success"><i class="fa fa-random">Generate {{random_generation_parameters.how_many}} random interactions</i></button>
            </div>
        </div>

        <br/>

        <h4>Stats table</h4>
        <div class="row" ng-show="interactions != null">
            <div class="col-lg-12">
                <table class="table table-condensed">
                    <tr>
                        <td>Total number of interactions recorded</td>
                        <td>{{interactions.length}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <h4>Charts</h4>
        <form class="form-inline" role="form" onclick="return false;">
            <div class="form-group">
                <label for="interactions_user_text_field">User</label>
                <input id="interactions_user_text_field" class="form-control" ng-model="interactions_user">
            </div>
            <div class="form-group">
                <button id="refresh-interactions-button"
                        type=button"
                        ng-click="get_interactions()"
                        class="btn btn-default inline"><i class="fa fa-refresh">Refresh</i></button>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-6">
                <div id="container-ontology" style="height: 400px; margin: 20 auto"></div>
            </div>
            <div class="col-lg-6">
                <div id="container-descriptor" style="height: 400px; margin: 0 auto"></div>
            </div>
        </div>
    </div>

	<%- include ../../../../src/views %>
