<%- include ../layout/header.ejs %>

<h1 class="page-header">
    <%=locals.title %>
</h1>

<script type="text/javascript" src="/app/js/controllers/social/timeline_controller.js"></script>

<div ng-controller="importProjectCtrl">

</div>

<%- include ../layout/footer.ejs %>
