<%- include ../layout/header.ejs %>

<h1 class="page-header">
    Create a new project
</h1>

<style type="text/css">
    #loginError
    {
        color: #dd2929;
        text-align: right;
        padding-right: 3px;

    }
</style>

<div ng-controller="projCtrl">
    <div class="control-group has-feedback" ng-class="{'has-success' : valid_word(new_project.handle), 'has-warning' : new_project.handle && !valid_word(new_project.handle)}">
        <label for="handle" class="control-label">Handle *</label>
        <input type="text"
               class="form-control"
               ng-model="new_project.handle"
               id="handle"
               placeholder="Handle"
                <%if(locals.Config.debug.views.prefill_text_boxes){%>
               value="datanotes"
                <%}%>
               name="handle" required>

        <p class="help-block">A unique handle in the system for your project. Only lower case and numbers. Example: "gravimetry01" </p>
        <span ng-show="!new_project.handle" class="glyphicon glyphicon-remove form-control-feedback"></span>
        <span ng-show="valid_word(new_project.handle) && new_project.handle" class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span ng-show="!valid_word(new_project.handle) && new_project.handle" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
    </div>

    <div class="control-group has-feedback" ng-class="{'has-success' : new_project.title}">
        <label for="title" class="control-label">Title *</label>
        <input type="text"
               class="form-control"
               ng-model="new_project.title"
               id="title"
               placeholder="Title"
                <%if(locals.Config.debug.views.prefill_text_boxes){%>
               value="Gravimetry experiments ABC"
                <%}%>
               name="title" required>
        <p class="help-block">Your project's title. Example: "Gravimetry run campaign over the Azores"</p>

        <span ng-show="new_project.title" class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span ng-show="!new_project.title" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>

    <div class="control-group has-feedback" ng-class="{'has-success' : new_project.description}">
        <label for="description" class="control-label">Description *</label>
        <textarea
                class="form-control"
                id="description"
                rows="3"
                ng-model="new_project.description"
                placeholder="Project description..."
                name="description" required><%if(locals.Config.debug.views.prefill_text_boxes){%>An experiment with an aeroplane and gravity recording devices<%}%></textarea>
        <p class="help-block">Your project's description, maybe the abstract of its public grant application? Example: "Results of the third Gravimetry run campaign over the Azores</p>

        <span ng-show="new_project.description" class="glyphicon glyphicon-ok form-control-feedback"></span>
        <span ng-show="!new_project.description" class="glyphicon glyphicon-remove form-control-feedback"></span>
    </div>

    <div class="control-group has-feedback">
        <label for="publisher" class="control-label">Publisher</label>
        <input type="text"
               class="form-control"
               id="publisher"
               placeholder="Publisher"
                <%if(locals.Config.debug.views.prefill_text_boxes){%>
               value="University of Porto"
                <%}%>
               name="publisher">
        <p class="help-block">An entity responsible for making the resource available. Example: "University of Porto"</p>
    </div>

    <div class="control-group has-feedback">
        <label for="language" class="control-label">Language</label>
        <input type="text"
               class="form-control"
               id="language"
               placeholder="Language"
                <%if(locals.Config.debug.views.prefill_text_boxes){%>
               value="pt"
                <%}%>
               name="language">
        <p class="help-block">A language of the resource. Example: "en"</p>
    </div>

    <div class="control-group has-feedback">
        <label for="coverage" class="control-label">Coverage</label>
        <input type="text"
               class="form-control"
               id="coverage"
               placeholder="Coverage"
                <%if(locals.Config.debug.views.prefill_text_boxes){%>
               value="porto"
                <%}%>
               name="coverage">
        <p class="help-block">The spatial or temporal topic of the resource, the spatial applicability of the resource, or the jurisdiction under which the resource is relevant.
            Example: "Porto"</p>
    </div>

    <div class="form-group" ng-class="{'has-success' : new_project.privacy}">
        <label for="privacy" class="col-sm-2 control-label">Privacy</label>
        <div class="col-sm-10">
            <input type="radio"
                   name="privacy"
                   ng-model="new_project.privacy"
                   value="public"
                   ng-checked="new_project.privacy == 'public'">
                Public: The project's metadata will be exposed and the project made publicly available, as read-only.
            </input>
            <br>
            <input type="radio"
                   name="privacy"
                   ng-model="new_project.privacy"
                   value="private"
                   ng-checked="new_project.privacy == 'private'">
                Private: Your project won't have any exposure.
            </input>
            <br>
            <input type="radio"
                   name="privacy"
                   ng-model="new_project.privacy"
                   value="metadataOnly"
                   ng-checked="new_project.privacy == 'metadataOnly'">
                Metadata Only: The project's metadata will be exposed, but access to the project will be required to you.
            </input>

        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit"
                    ng-click="create_project(new_project)"
                    ng-disabled="!(valid_word(new_project.handle) && new_project.title && new_project.description)"
                    class="btn btn-primary">Create</button>
        </div>
    </div>
</div>

<%- include ../layout/footer.ejs %>
