<p>
    <a class="btn btn-primary" value="Create a new project" href="./new"><i class="fa fa-plus fa-lg"></i>New</a>
    <a class="btn btn-default" value="Import a project" href="./import"><i class="fa fa-cloud-upload fa-lg"></i>Import</a>
</p>
