	<%- include ../../../../src/views %>

    <%- include layout/header.ejs %>

    <!--header -->

    <div class="container" ng-controller="exportCtrl" ng-init="init('<%=locals.session.user.ddr.username%>')">

        <div class="row">
            <div class="col-md-12">
                <div class="input-group col-lg-10 col-lg-offset-1 full-width">
                    <label for="graph_uri_text_box">Graph URI</label>

                    <input type="text"
                           class="full-width form-control inputbox"
                           id="graph_uri_text_box"
                           name="graph_uri"
                           placeholder="Graph URI"
                           ng-model="graph_uri"/>
                </div>

                <h2>Graph CR : http://dendro-prd.fe.up.pt:3005/dendro_graph</h2>
                <br/>
                <h2>Graph SR : http://dendro-prd.fe.up.pt:3006/dendro_graph</h2>
            </div>
        </div>

        <br/>

        <div class="row">
            <div class="col-lg-12">
                <label for="options_table">CSV Downloads</label>
                <table class="table table-bordered" id="options_table">
                    <thead>
                    <tr>
                        <th>
                            Option
                        </th>
                        <th>

                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>All interactions</td>
                        <td><button class="btn pull-right" ng-click="all()"><i class="fa fa-download"></i>Download</button></td>
                    </tr>
                    <tr>
                        <td>Total number of descriptors at the time of each interaction</td>
                        <td><button class="btn pull-right" ng-click="total_number_of_descriptors_per_interaction()"><i class="fa fa-download"></i>Download</button></td>
                    </tr>
                    <tr>
                        <td>Average metadata sheet size at the time of each interaction</td>
                        <td><button class="btn pull-right" ng-click="average_metadata_sheet_size_per_interaction()"><i class="fa fa-download"></i>Download</button></td>
                    </tr>
                    <tr>
                        <td>Average descriptor length at the time of each interaction</td>
                        <td><button class="btn pull-right" ng-click="average_descriptor_length_per_interaction()"><i class="fa fa-download"></i>Download</button></td>
                    </tr>
                    <tr>
                        <td>Number of instances of every descriptor at the time of each interaction</td>
                        <td><button class="btn pull-right" ng-click="number_of_descriptors_of_each_type_per_interaction()"><i class="fa fa-download"></i>Download</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

	<%- include ../../../../src/views %>
