<!--<pre>Model: {{asyncSelected | json}}</pre> -->

<input type="text"
       ng-model="asyncSelected"
       name="newContributor"
       placeholder="Search for user..."
       uib-typeahead="result.uri for result in get_users_by_text_search($viewValue)"
       typeahead-template-url="/app/views/projects/show/partials/user_ac_template.html"
       typeahead-show-hint="true"
       typeahead-min-length="2"
       typeahead-loading="loadingUsers"
       typeahead-wait-ms="400"
       typeahead-no-results="noResults"
       typeahead-on-select="select_user_from_autocomplete($item, $model, $label)"
       class="form-control">

<i ng-show="loadingUsers" class="glyphicon glyphicon-refresh">Searching users...</i>
<div ng-show="noResults">
    <i class="glyphicon glyphicon-remove"></i> No Results Found
</div>
