<div class="row">
    <div class="col-xs-12" data-toggle="buttons">
        <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn"
                   ng-class="{active : descriptor_selection_mode == 'recommendation'}"
                   id="change_descriptor_selection_to_recommendation_button"
                   ng-click="switch_selection_mode('recommendation');">

                <input type="radio"
                       name="options"
                       ng-checked="descriptor_selection_mode == 'recommendation'">Suggestions
            </label>

            <label class="btn"
                   ng-class="{active : descriptor_selection_mode == 'manual'}"
                   id="change_descriptor_selection_to_manual_button"
                   ng-click="switch_selection_mode('manual');">

                <input type="radio"
                       name="options"
                       ng-checked="descriptor_selection_mode == 'manual'">Manual selection
            </label>
        </div>
    </div>
</div>

<%- include ../descriptor_autocomplete.ejs %>

<!-- dc rec ok -->

<div ng-switch="descriptor_selection_mode">
    <div id="manual_descriptor_selection" ng-switch-when="manual">
        <div>
            <br/>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group">
                        <div class="row">
                            <div class="col-lg-12">
                                <a class="list-group-item recommendation-item"
                                   ng-repeat="manual_descriptor in manual_descriptors"
                                   ng-hide="!manual_descriptor.label ||
                                            !manual_descriptor.comment ||
                                             manual_descriptor.recommendation_types['project_hidden'] ||
                                             manual_descriptor.recommendation_types['user_hidden']">

                                    <%if(locals.Config.debug.debug_active && locals.Config.debug.views.show_all_buttons_in_recommendations) { %>
                                        <ng-include src="'/app/views/projects/show/partials/manual_descriptor_debug.html'"></ng-include>
                                    <%} else {%>
                                        <ng-include src="'/app/views/projects/show/partials/manual_descriptor.html'"></ng-include>
                                    <% } %>
                                </a>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="recommendation_based_descriptor_selection" ng-switch-when="recommendation">
        <div id="recommendations_mode">
            <div class="tab-pane" id="overview">

                <div class="row" ng-show="!shared.recommender_offline">
                    <div class="col-lg-12">
                        <%- include ../descriptors_list.ejs %>
                    </div>
                </div>

                <div class="row" ng-show="!shared.recommender_offline">
                    <div class="col-xs-12" data-toggle="buttons">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default"
                                   ng-class="{'active' : descriptor_filter == 'all', 'btn-primary' : descriptor_filter == 'all'}"
                                   id="change_descriptor_filter_to_all_button"
                                   ng-click="switch_descriptor_filter('all', true);">

                                <input type="radio"
                                       name="options"
                                       ng-checked="descriptor_filter == descriptor_filters[0].key">All
                            </label>

                            <label class="btn btn-default"
                                   ng-class="{'active' : descriptor_filter == 'favorites', 'btn-success' : descriptor_filter == 'favorites'}"
                                   id="change_descriptor_filter_to_favorites_button"
                                   ng-click="switch_descriptor_filter('favorites', true);">

                                <input type="radio"
                                       name="options"
                                       ng-checked="descriptor_filter == 'favorites'">Favorites
                            </label>

                            <label class="btn btn-default"
                                   ng-class="{'active' : descriptor_filter == 'hidden', 'btn-danger' : descriptor_filter == 'hidden'}"
                                   id="change_descriptor_selection_to_hidden_button"
                                   ng-click="switch_descriptor_filter('hidden', true);">

                                <input type="radio"
                                       name="options"
                                       ng-checked="descriptor_filter == 'hidden'">Hidden
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="!shared.recommender_offline">
                    <div class="col-lg-12">
                        <br/>
                        <div class="btn-group-justified btn-group" data-toggle="buttons">
                            <label class="btn btn-sm"
                                   ng-class="{'active' : recommend_already_filled_in, 'btn-primary' : recommend_already_filled_in}"
                                   id="toggle_recommend_already_filled_in_button"
                                   ng-click="toggle_recommend_already_filled_in();">

                                <input type="radio"
                                       name="options"
                                       ng-checked="recommend_already_filled_in">
                                        <div ng-show="!recommend_already_filled_in">Showing only non-filled descriptors</div>
                                        <div ng-show="recommend_already_filled_in">Showing all descriptors </div>

                            </label>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
    </div>

</div>