<div class="col-lg-10" ng-mouseover="set_ontology_description_html_popup(ontology)" uib-tooltip-html="ontology_description_html_popup" tooltip-placement="left">
    <h4 class="list-group-item-heading">
        {{ontology.label}}
    </h4>
</div>
<div class="col-lg-1">
    <i class="fa fa-arrow-circle-right"></i>
</div>