<%- include ../layout/header.ejs %>

<h1 class="page-header">
    405 - Unsupported Method
</h1>

<br/>

<div class="row table-centertext">
    <div class="col-lg-12">
        <img src='/images/logo.png'>
    </div>
</div>

<div class="row table-centertext">
    <div class="col-lg-12">
        Unable to perform your request. Unsupported method.
        <br/>
        We have recorded this error and will be looking at it shortly.
    </div>
</div>

<%- include ../layout/footer.ejs %>
