<%- include ../layout/header.ejs %>

<h1 class="page-header">
    500 - Internal Server Error.
</h1>

<br/>

<div class="row table-centertext">
    <div class="col-lg-12">
        <img src='/images/logo.png'>
    </div>
</div>

<div class="row table-centertext">
    <div class="col-lg-12">
        Unable to perform your request. You either specified a wrong URL or tried to access a feature that is not implemented yet.
        <br/>
        We have recorded this error and will be looking at it shortly.
        <br/>
        <h3>Error details</h3>
        <%=JSON.stringify(locals.error)%>
    </div>
</div>

<%- include ../layout/footer.ejs %>
