<%
    if(locals.breadcrumbs != null && locals.breadcrumbs instanceof Array && locals.breadcrumbs.length > 0)
    {
%>
        <ol class="breadcrumb">

        <%
            for(var i = 0; i < locals.breadcrumbs.length; i++)
            {
                var breadcrumb = locals.breadcrumbs[i];
        %>
                <%if(i < locals.breadcrumbs.length - 1)
                    {
                %>
                        <li><a href="<%=breadcrumb.uri%>"><%=breadcrumb.title%></a></li>
                <%
                    }
                    else
                    {
                %>
                        <li class="active"><%=breadcrumb.title%></li>
                <%
                    }
                %>
        <%
            }
        %>
        </ol>
<%
    }
%>