<div class="row" ng-show="(shared.metadata == null || shared.metadata.length == 0) && !showing_project_root()">
    <br/>

    <div class="col-xs-12 col-lg-12">
        <div class="alert alert-info">
            This resource does not have any metadata yet. Add a new descriptor by clicking on one the descriptors on the right.
        </div>
    </div>

</div>


