<ul class="list-group" id="file_explorer_area">
        <%if(locals.breadcrumbs != null && locals.breadcrumbs.length > 0)
        {
        %>
            <a href="#" ng-click="go_up_in_folder_explorer()" class="list-group-item">
                <div class="row">
                    <div class="col-lg-12">
                        <h7 class="list-group-item-heading">
                            <table class="explorer-table">
                                <tr>
                                    <td>
                                        <%if(locals.breadcrumbs[0].show_home)
                                        {
                                        %>
                                            <i class="fa fa-home file_explorer_icon" aria-hidden="true" style="font-size:32px;"></i>
                                        <%
                                        }
                                        else
                                        {
                                        %>
                                            <span class="fa-stack fa-lg file_explorer_icon">
                                                <i class="fa fa-square-o fa-stack-2x" style="font-size:32px;"></i>
                                                <i class="fa fa-twitter fa-stack-1x" style="font-size:32px;"></i>
                                            </span>
                                        <%
                                        }
                                        %>

                                    </td>
                                    <td class="filename-tablecell">
                                        <%=locals.breadcrumbs[0].title%>
                                    </td>
                                </tr>
                            </table>
                        </h7>
                    </div>
                </div>
            </a>
        <%
        }
        %>

        <a ng-repeat="file in shared.folder_contents"
           ng-show="shared.folder_contents != null && (!file.ddr.deleted || shared.showing_deleted_files)"
           class="list-group-item ng-hide"
           ng-click="clicked_file_explorer_node($index)"
           nc-blur="clear_selected_files()"
           ng-class="{active: file.selected}"
           href="#">
                <div class="row">
                    <div class="col-lg-12">
                        <h7 class="list-group-item-heading">
                            <table class="explorer-table">
                                <tr>
                                    <td ng-show="shared.multiple_selection_active">
                                        <input  type="checkbox" ng-model="file.selected" multiple>
                                    </td>
                                    <td>
                                        <img ng-src="{{get_thumbnail_uri(file.uri) | trustAsResourceUrl}}" image-spinner width=32 height=32"/>
                                    </td>
                                    <td class="filename-tablecell">
                                        <small>{{file.nie.title}}</small>
                                        <span ng-show="file.ddr.deleted" class="label label-warning">Deleted</span>
                                    </td>
                                </tr>
                            </table>
                        </h7>
                    </div>
                </div>
        </a>
</ul>