<link rel="stylesheet" href="/stylesheets/preview_files.css">
<!-- RECLINE JS -->
<link rel="stylesheet" href="/js/reclinejs/vendor/leaflet/0.4.4/leaflet.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="/js/reclinejs/vendor/leaflet/0.4.4/leaflet.ie.css" />
<![endif]-->
<link rel="stylesheet" href="/js/reclinejs/vendor/leaflet.markercluster/MarkerCluster.css">
<link rel="stylesheet" href="/js/reclinejs/vendor/leaflet.markercluster/MarkerCluster.Default.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="/js/reclinejs/vendor/leaflet.markercluster/MarkerCluster.Default.ie.css" />
<![endif]-->
<link rel="stylesheet" href="/js/reclinejs/vendor/slickgrid/2.0.1/slick.grid.css">
<link rel="stylesheet" href="/js/reclinejs/vendor/timeline/css/timeline.css">

<!-- Recline CSS components -->
<link rel="stylesheet" href="/js/reclinejs/css/grid.css">
<link rel="stylesheet" href="/js/reclinejs/css/slickgrid.css">
<link rel="stylesheet" href="/js/reclinejs/css/flot.css">
<link rel="stylesheet" href="/js/reclinejs/css/map.css">
<link rel="stylesheet" href="/js/reclinejs/css/multiview.css">
<link rel="stylesheet" href="/js/reclinejs/css/timeline.css">
<!-- /Recline CSS components -->

<!-- 3rd party JS libraries -->

<script type="text/javascript" src="/js/reclinejs/vendor/backbone/1.0.0/backbone.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/mustache/0.5.0-dev/mustache.js"></script>
<!--[if lte IE 8]>
<script language="javascript" type="text/javascript" src="/js/reclinejs/vendor/flot/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/js/reclinejs/vendor/flot/jquery.flot.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/flot/jquery.flot.time.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/leaflet/0.4.4/leaflet.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/leaflet.markercluster/leaflet.markercluster-src.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/slickgrid/2.0.1/jquery.event.drag-2.2.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/slickgrid/2.0.1/jquery.event.drop-2.2.js"></script>


<script type="text/javascript" src="/js/reclinejs/vendor/slickgrid/2.0.1/jquery.event.drag-2.0.min.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/slickgrid/2.0.1/slick.core.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/slickgrid/2.0.1/slick.formatters.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/slickgrid/2.0.1/slick.editors.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/slickgrid/2.0.1/slick.grid.js"></script>

<script type="text/javascript" src="/js/reclinejs/vendor/slickgrid/2.0.1/plugins/slick.rowselectionmodel.js"></script>
<script type="text/javascript" src="/js/reclinejs/vendor/slickgrid/2.0.1/plugins/slick.rowmovemanager.js"></script>

<script type="text/javascript" src="/js/reclinejs/vendor/moment/2.0.0/moment.js"></script>
<!--Razao do erro com os popups -->
<!--<script type="text/javascript" src="/js/reclinejs/vendor/timeline/js/timeline.js"></script>-->
<!-- / Razao do erro com os popups -->

<!--[if lte IE 7]>
<script language="javascript" type="text/javascript" src="/js/reclinejs/vendor/json/json2.js"></script>
<![endif]-->

<!--
  ## Just use the all in one library version rather than individual files

<script type="text/javascript" src="dist/recline.js"></script>

-->

<!-- model and backends -->
<script type="text/javascript" src="/js/reclinejs/src/ecma-fixes.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/model.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/backend.memory.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/backend.dataproxy.js"></script>
<script type="text/javascript" src="http://okfnlabs.org/recline.backend.gdocs/backend.gdocs.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/backend.csv.js"></script>

<!-- views -->
<script type="text/javascript" src="/js/reclinejs/src/view.grid.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/view.slickgrid.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/view.flot.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/view.graph.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/view.map.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/view.timeline.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/widget.pager.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/widget.queryeditor.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/widget.filtereditor.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/widget.valuefilter.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/widget.facetviewer.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/widget.fields.js"></script>
<script type="text/javascript" src="/js/reclinejs/src/view.multiview.js"></script>

<div>
    <div><h4>File Preview Area</h4></div>

    <div class="row" ng-if="!preview_available()">
        <br/>
        <div class="col-xs-12">
            <div class="alert alert-info">
                Dendro is not ready to build a preview for this resource.
            </div>
        </div>
    </div>
    <div id="data-viewer" class="row" ng-if="preview_available()">
    </div>
</div>