<div class="metrics" >
<canvas id="doughnut" width="200" height="100" class="chart chart-doughnut" chart-data="data" chart-labels="labels" chart-colors="colours">
</canvas>
</div>
<div class="row">
    <div class="service-item">
        <div class="row">
            <h4>
                <div class="col-lg-2">
                    <i class="service-icon fa fa-file"></i>Files
                </div>
                <div class="col-lg-10">
                    <span class="label label-primary">{{shared.project_stats.files_count}}</span>
                </div>
            </h4>
        </div>
    </div>
</div>