
<!--<div class="metrics" >
<canvas id="doughnut" width="200" height="100" class="chart chart-doughnut" chart-data="data1" chart-labels="labels1" chart-colors="colours1">
</canvas>
</div>-->

<div class="metrics" >
    <canvas id="bar" width="200" height="100" class="chart chart-line" chart-data="data" chart-labels="labels" chart-colors="colours">
    </canvas>
</div>


<button type="button" class="btn btn-primary pull-right" ng-click="updateData()">Update</button>

<div class="panel panel-info">
    <div class="panel-heading">
        <h4>Deposits Timeline</h4>
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <timeline>
                    <div class="timeline-badge primary"><a><i class="glyphicon glyphicon-record" rel="tooltip" title="11 hours ago via Twitter" id=""></i></a></div>
                    <timeline-event ng-repeat="event in events" side="">
                        <timeline-badge class="{{event.badgeClass}}">
                            <i class="glyphicon"> {{event.shortDate}}</i>
<!--                        <span class="timeline-balloon-date-day">"{{event.shortDate}}"</span>-->

                        </timeline-badge>

                        <timeline-panel class="{{event.badgeClass}}">
                            <timeline-heading>
                                <h4>{{event.title}}</h4>
                            </timeline-heading>
                            <p>{{event.content}}</p>
                            <a href={{event.depositAnchor}}>Check deposit</a>
                            <p ng-if="event.when" class="ng-scope">
                                <img class="img-responsive pull-right" src={{event.image}} height="30px" width="30px" alt="">
                                <small class="text-muted ng-binding"><i class="glyphicon glyphicon-time"></i>{{event.when}}</small>
                            </p>

                        </timeline-panel>
                    </timeline-event>
                </timeline>
            </div>
        </div>
    </div>
</div>
