<p> This where the chart should be </p>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
    $(document).ready(function () {
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
            },
            options: {
            }
        });
    })

</script>
