<ul class="list-group" id="file_explorer_area">
        <a href="<%= locals.go_up_options.uri %>" class="list-group-item">
            <div class="row">
                <div class="col-lg-12">
                    <h7 class="list-group-item-heading">
                        <table class="explorer-table">
                            <tr>
                                <td>
                                    <div class="parent">
                                        <%  if(locals.go_up_options.icons[0]){    %>
                                                <img class="image1_stacked" src="<%= locals.go_up_options.icons[0] %>">
                                        <%  }%>
                                        <%  if(locals.go_up_options.icons[1]){  %>
                                                <img class="image2_stacked" src="<%= locals.go_up_options.icons[1] %>">
                                        <%  }%>
                                    </div>
                                </td>
                                <td class="filename-tablecell">
                                    <%= locals.go_up_options.title %>
                                </td>
                            </tr>
                        </table>
                    </h7>
                </div>
            </div>
        </a>

        <a ng-repeat="file in shared.folder_contents"
           ng-show="shared.folder_contents != null && (!file.ddr.deleted || shared.showing_deleted_files)"
           ng-click="clicked_file_explorer_node($index)"
           nc-blur="clear_selected_files()"
           ng-class="{active: file.selected}"
           context-menu="menuOptions(file)"
           href="#"
           class="list-group-item ng-hide">
                <div class="row">
                    <div class="col-lg-12">
                        <h7 class="list-group-item-heading">
                            <table class="explorer-table">
                                <tr>
                                    <td ng-show="shared.multiple_selection_active">
                                        <img src="/images/icons/check_box_uncheck.png" ng-show="!file.selected">
                                        <img src="/images/icons/check_box.png" ng-show="file.selected">
                                    </td>
                                    <td class="parent_stacked_image">
                                        <img class="image1_stacked_file_browser" ng-src="{{get_thumbnail_uri(file.uri) | trustAsResourceUrl}}" image-spinner/>
                                        <img class="image2_stacked_file_browser" src="/images/icons/bullet_yellow.png" ng-if="file.ddr.processingData" image-spinner/>
                                        <img class="image2_stacked_file_browser" src="/images/icons/bullet_green.png" ng-if="file.ddr.hasDataContent" image-spinner uib-tooltip="Data extracted OK" tooltip-placement="right" tooltip-trigger="mouseenter"/>
                                        <img class="image2_stacked_file_browser" src="/images/icons/bullet_orange.png" ng-if="file.ddr.hasDataProcessingError" image-spinner uib-tooltip="Data processing error: {{file.ddr.hasDataProcessingError}}" tooltip-placement="right" tooltip-trigger="mouseenter"/>
                                        <img class="image2_stacked_file_browser" src="/images/icons/bin.png" ng-if="file.ddr.deleted" image-spinner/>
                                    </td>
                                    <td class="filename-tablecell">
                                        <small>{{file.nie.title}}</small>
                                        <div class="help-block tiny-text">
                                            <div ng-show="file.ddr.processingData">Extracting data...</div>
                                            <div ng-show="file.ddr.hasDataContent">Data extracted.</div>
                                            <div ng-show="file.ddr.hasDataProcessingError">No data extracted: {{file.ddr.hasDataProcessingError}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </h7>
                    </div>
                </div>
        </a>
</ul>
