<div class="row">
    <div class="col-md-12">

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-success">
                    <h4 class="panel-title">Users with the accepted conditions</h4>
                </div>
            </div>
            <div class="panel-body" ng-show="conditionsAccepted.size == 0" >
                <div class="panel-success">
                    <h4 class="panel-title">No terms accepted</h4>
                </div>
            </div>
        </div>


        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-success">
                    <h4 class="panel-title">Conditions to accept</h4>
                </div>
            </div>
        <div class="panel-body" ng-repeat="condition in conditionsAccepting">
            {{condition.acceptingUser}}
            <button  type="submit"
               class="btn btn-sm btn-success pull-right"
               id="btn-condition-accepting"
               ng-click=""
               onmouseover="$(this).toggleClass('btn-primary');"
               onmouseout="$(this).toggleClass('btn-primary');">
                <span class="glyphicon glyphicon-ok"></span> Accept </button>

            <button  type="submit"
                     class="btn btn-sm btn-danger pull-right"
                     id="delete_project_button"
                     data-loading-text="Preparing Package..." ng-click="delete_deposit()"
                     onmouseover="$(this).toggleClass('btn-primary');"
                     onmouseout="$(this).toggleClass('btn-primary');"><span class="glyphicon glyphicon-ok"></span> Decline </button>


        </div>
        <div class="panel-body" ng-show="conditionsAccepting.size ==0" >
            <div class="panel-success">
                <h4 class="panel-title">Without conditions to accept</h4>
            </div>
        </div>
        </div>



        </div>
    </div>