<h2 class="modal-title">Project Statistics</h2>

<div class="panel panel-info">
    <div class="panel-heading">
        Information about the project
    </div>
    <div class="panel-body">
        <div class="container">
            <div class="row">
                <div class="service-item">
                    <div class="row info">
                        <h4>
                            <div class="col-lg-2">
                                <i class="service-icon fa fa-bar-chart-o"></i>Revisions
                            </div>
                            <div class="col-lg-6">
                                <!-- Large modal -->
                                <span class="label label-primary">{{shared.project_stats.revisions_count}}</span>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service-item">
                    <div class="row">
                        <h4>
                            <div class="col-lg-2">
                                <i class="service-icon fa fa-folder"></i>Folders
                            </div>
                            <div class="col-lg-10">
                                <span class="label label-primary">{{shared.project_stats.folders_count}}</span>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service-item">
                    <div class="row">
                        <h4>
                            <div class="col-lg-2">
                                <i class="service-icon fa fa-file"></i>Files
                            </div>
                            <div class="col-lg-10">
                                <span class="label label-primary">{{shared.project_stats.files_count}}</span>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service-item">
                    <div class="row">
                        <h4>
                            <div class="col-lg-2">
                                <i class="service-icon fa fa-user"></i>Members
                            </div>
                            <div class="col-lg-10">
                                <span class="label label-primary">{{shared.project_stats.members_count}}</span>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="service-item">
                    <div class="row">
                        <h4>
                            <div class="col-lg-2">
                                <i class="service-icon fa fa-tachometer"></i>Storage
                            </div>
                            <div class="col-lg-10">
                                {{shared.project_stats.percent_full}} % of {{shared.project_stats.human_project_max_size}}
                                <div class="progress-bar progress-bar-striped"
                                     ng-class="{ 'progress-bar-danger' : shared.project_stats.percent_full >= 100}"
                                     role="progressbar" aria-valuenow="{{shared.project_stats.percent_full}}" aria-valuemin="0" aria-valuemax="100" style="width: {{shared.project_stats.percent_full % 100}}%">
                                </div>
                            </div>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <button type="button"
                class="btn"
                ng-click="get_project_stats()"
                onmouseover="$(this).toggleClass('btn-primary');" onmouseout="$(this).toggleClass('btn-primary');">
            <i class="fa fa-refresh"></i>
            Refresh
        </button>
    </div>
</div>

