<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    User Access
                </h3>
            </div>
            <div class="panel-body" ng-show="has_editable_metadata()" >
                <form id="user_access" class="form-horizontal navbar-spacer" role="form">
                    <div class="control-group" ng-repeat="descriptor in shared.metadata | filter:only_editable_metadata_descriptors track by $index">
                        <div ng-switch="descriptor.control">
                            <div ng-switch-when="url_box">
                                <ng-include src="'/app/views/registry/show/controls_read_only/url_box.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body" ng-show="!has_editable_metadata()" >
                There is no information available for this resource.
            </div>
        </div>
    </div>
</div>
