<ul class="list-group" id="concept_explorer_area">
    <a ng-repeat="concept in concepts"
       ng-show="concepts != null"
       nc-blur="clear_selected_terms()"
       ng-class="{active: concept.selected}"
       href="#"
       class="list-group-item ng-hide">
        <div class="row">
            <div class="col-lg-12">
                <h7 class="list-group-item-heading">
                    <table class="explorer-table">
                        <tr>
                            <td class="term-tablecell">
                                <medium>{{"Search Term: " + concept.searchterm}}</medium><br>
                                <medium>{{"Label: " + concept.lovlabel}}</medium><br>
                                <medium>{{"Uri: " + concept.lovuri}}</medium><br>
                                <medium>{{"Description: " + concept.lovvocabulary}}</medium>
                                <div class="help-block">
                                </div>
                            </td>
                        </tr>
                    </table>
                </h7>
            </div>
        </div>
    </a>
</ul>