<div class="text-center author-information-partial">
    <p> debugging author information partial</p>
    {{postsContents[postUri].dcterms.creator}}

    <p> <i> {{postsContents[postUri].ddr.modified | date : "dd/MMM/yyyy"}} </i></p>
    <!--<p> In {{postsContents[postUri].ddr.projectUri.split("/").pop()}}</p>-->
    <p> In <a ng-href="{{postsContents[postUri].ddr.projectUri}}"> project </a> </p>
    <!--<img class="img-circle show-author-avatar-partial" ng-src="/user/{{postsContents[postUri].dcterms.creator.split('/').pop()}}/avatar">-->
    <img class="img-circle show-author-avatar-partial" ng-src='{{postsContents[postUri].dcterms.creator}}?avatar'>
    <a ng-href="{{postsContents[postUri].dcterms.creator}}"> {{postsContents[postUri].dcterms.creator.split('/').pop()}} </a>
</div>