<div>
    <div class="media">
        <div class="media-left">
            <div class="text-center" style="border-color: #f5f5f5; border-right-style: solid">
                <img width="70%" height="70%" ng-src="http://iconshow.me/media/images/ui/ios7-icons/png/256/contact-outline.png" alt="Description" />
                <p>{{loggedUser.split("/").pop()}}</p>
            </div>
        </div>

        <div class="media-body">
            <div ng-show="showCreatePostContent" class="input-group-btn form-inline">
                <select ng-blur="toggleNewPostModal(false)" ng-focus="toggleNewPostModal(true)" class="form-control" id="choosingProjectID" ng-init="projectChosen"
                        ng-model="$parent.projectChosen"
                        ng-options="userProject.name for userProject in userProjects">
                </select>
                <input ng-blur="toggleNewPostModal(false)" ng-focus="toggleNewPostModal(true)" type="text" class="form-control" aria-label="postTitle" id="newPostTitleID" ng-model="$parent.newPostTitle" placeholder="The title of your post">
            </div>

            <div style="padding-top: 1.5%">
                <textarea ng-blur="toggleNewPostModal(false)" ng-focus="toggleNewPostModal(true)" id="newPostContentID" ng-model="$parent.newPostContent" placeholder="What are you thinking ?"></textarea>
                <div ng-show="showCreatePostContent">
                    <button type="button" class="btn btn-primary" ng-blur="toggleNewPostModal(false)" ng-focus="toggleNewPostModal(true)" ng-click="createNewManualPost();">Create</button>
                </div>
            </div>
        </div>

    </div>

</div>