<div class="panel-body">
    <div class="media">
        <div class="media-left" style="font-size: 90%; margin-bottom: 0%; padding-right: 5%">
            <div> <p style="margin-bottom: 0%"> In <a ng-href="{{postsContents[postUri].ddr.projectUri}}"> {{postsContents[postUri].ddr.projectUri.split("/").pop()}} </a> </p> </div>
            <p style="margin-bottom: 0%; font-style: italic;">{{postsContents[postUri].dcterms.modified | date : "dd/MMM/yyyy"}}</p>
            <div><p style="margin-bottom: 0%"><em><img width="15%" height="15%" ng-src="http://iconshow.me/media/images/ui/ios7-icons/png/256/contact-outline.png" alt="Description" /> <a ng-href="{{postsContents[postUri].dcterms.creator}}"> {{postsContents[postUri].dcterms.creator.split('/').pop()}} </a> </em></p></div>
            <!--<span style="font-size:7em;margin-bottom: 0%" class="glyphicon glyphicon-folder-close fa-5x" aria-hidden="true"></span>-->
            <img style="padding-left: 25%; margin-bottom: 0%" ng-src="{{postsContents[postUri].schema.sharedContent.split('/version/')[0]}} + ?thumbnail">
            <!--<span style="font-size:7em;margin: 0%"> <img width="100%" height="100%" ng-src="{{postsContents[postUri].schema.sharedContent.split('/version/')[0]}} + ?thumbnail&size=image"> </span>-->
            <!--/project/testproject/data/backup_cenas.txt?thumbnail&size=icon-->
            <a class="text-center" ng-href="{{postsContents[postUri].schema.sharedContent.split('/version/')[0]}}"> {{postsContents[postUri].schema.sharedContent.split("/version/")[0].split('/data/').pop()}}   </a>
        </div>


        <!--<p> {{postsContents[postUri]}}</p>-->

        <div class="media-body text-center" style="padding: 5%">
            <!--{{postsContents[postUri]}}-->
            <div ng-if="postsContents[postUri].ddr.changeType == 'mkdir'">
                <!--<p>Folder was created</p>-->
                <!--<div class="alert alert-success" role="alert">Folder was created</div>-->
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 100%">
                        <p>Folder was created</p>
                    </div>
                </div>
            </div>

            <div ng-if="postsContents[postUri].ddr.changeType == 'rmdir'">
                <!--<p>Folder was deleted</p>-->
                <!--<div class="alert alert-danger" role="alert">Folder was deleted</div>-->
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" style="width: 100%">
                        <p>Folder was deleted</p>
                    </div>
                </div>
            </div>

            <div ng-if="postsContents[postUri].ddr.changeType == 'upload'">
                <!--<p>A file was uploaded</p>-->
                <!--<div class="alert alert-success" role="alert">File was uploaded</div>-->
                <div class="progress">
                    <div class="progress-bar progress-bar-success" style="width: 100%">
                        <p>File was uploaded</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>