<script type="text/javascript">
    $('.frequently_used_overall-badge').tooltip({title : makeToolTipHtml("Frequent", "This descriptor is used often by Dendro users"), html: true, placement : "top"});
    $('.frequently_used_in_project-badge').tooltip({title : makeToolTipHtml("Used in Project", "Has been used in this project."), html: true, placement : "top"});
    $('.frequently_used_by_user-badge').tooltip({title : makeToolTipHtml("Recent", "You have used this descriptor recently"), html: true, placement : "top"});
    $('.frequently_used_by_user_in_project-badge').tooltip({title : makeToolTipHtml("Recent", "You have used this descriptor recently"), html: true, placement : "top"});

    $('.user_favorite-badge').tooltip({title : makeToolTipHtml("User's favorite", "This has been marked by you as a favorite descriptor."), html: true, placement : "top"});
    $('.project_favorite-badge').tooltip({title : makeToolTipHtml("Favorite in project", "This has been set by a contributor as favorite in this project."), html: true, placement : "top"});
    $('.favorite_overall-badge').tooltip({title : makeToolTipHtml("Favorite overall", "This has been set as a favorite by many users."), html: true, placement : "top"});

    $('.frequently_selected_project-badge').tooltip({title : makeToolTipHtml("Selected in project", "This has been selected often in this project."), html: true, placement : "top"});
    $('.frequently_selected_overall-badge').tooltip({title : makeToolTipHtml("Selected overall", "This has been selected by many users."), html: true, placement : "top"});

    $('.project_hidden-badge').tooltip({title : makeToolTipHtml("Hidden in project", "This has been hidden by a contributor of this project."), html: true, placement : "top"});
    $('.user_hidden-badge').tooltip({title : makeToolTipHtml("Always hidden", "This has been set as always hidden by you."), html: true, placement : "top"});

    $('.from-textually-similar-badge').tooltip({title : makeToolTipHtml("From Similar", "Present in textually similar resources"), html: true, placement : "top"});

</script>

<script type="text/javascript">
    $('.favorite-recommendation-for-project').tooltip({title : makeToolTipHtml("Project favorite", "Set as favorite for the project"), html: true, placement : "top"});
    $('.unfavorite-recommendation-for-project').tooltip({title : makeToolTipHtml("Project unfavorite", "Remove favorite from this project"), html: true, placement : "top"});

    $('.favorite-recommendation-for-user').tooltip({title : makeToolTipHtml("User favorite", "Set as personal favorite"), html: true, placement : "top"});
    $('.unfavorite-recommendation-for-user').tooltip({title : makeToolTipHtml("Remove from favorites", "Remove from personal favorites"), html: true, placement : "top"});

    $('.hide-recommendation-for-project').tooltip({title : makeToolTipHtml("Hide in project", "Hide from project recommendations"), html: true, placement : "top"});
    $('.unhide-recommendation-for-project').tooltip({title : makeToolTipHtml("Show in project", "Stop hiding this descriptor for this project"), html: true, placement : "top"});

    $('.hide-recommendation-for-user').tooltip({title : makeToolTipHtml("Hide for all", "Hide in all your projects"), html: true, placement : "top"});
    $('.unhide-recommendation-for-user').tooltip({title : makeToolTipHtml("Show again", "Make this descriptor visible again in all projects"), html: true, placement : "top"});

    //$('.add-descriptor').tooltip({title : makeToolTipHtml("Add descriptor", "Add to the description area"), html: true, placement : "top"});
    $('.remove-descriptor-from-list-button').tooltip({title : makeToolTipHtml("Remove descriptor", "Remove this descriptor from the record"), html: true, placement : "top"});
</script>