    <%- include ../layout/header.ejs %>

    <style type="text/css">
    #loginError
    {
    color: #dd2929;
    text-align: right;
    padding-right: 3px;

    }
    </style>

    <h1 class="page-header">
        Please sign in
    </h1>

    <form action="/login" method="POST">
        <div class="row-fluid">
            <div class="well span6 offset3">
                <div class="row">
                    <div class="form-group">
                        <label for="handle" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   class="form-control"
                                   id="username"
                                   placeholder="Username"
                                   name="username">
                            <p class="help-block">Your username</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="handle" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password"
                                   class="form-control"
                                   id="password"
                                   placeholder="Password"
                                   name="password">
                            <p class="help-block">Your password</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-primary">Sign in</button>
        <br/>
        <br/>
        Need a login? <a href="/register">Register here</a> .
        <br/>
        <br/>
        Forgot your password? <a href="/reset_password">Reset it here</a>.
    </form>


<%- include ../layout/footer.ejs %>
