<%- include ../layout/header.ejs %>

<div class="wrap">
    <h1 class="page-header">
        Reset password
    </h1>

    <br/>

    <form action="/reset_password" method="POST">
        <div class="row">
            <div class="span6 offset3">
                <div class="row">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Enter your email</label>
                        <div class="col-sm-10">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="email"
                                    placeholder="Email"
                                    name="email">
                            <p class="help-block">Your email address</p>
                        </div>
                    </div>
                <button class="btn btn-primary">Reset my password</button>
                </div>
            </div>
        </div>
    </form>
</div>

<%- include ../layout/footer.ejs %>
